%h2
  = image_tag "icon_reporter.png", :class => "heading_icon"
  Data Requests
.dashboard_section

  %table.modern_table
    %thead
      %tr
        %th Name
        %th Requested By
        %th Due
        - if current_user.reporter?
          %th Submitted at
          %th Status
    %tbody
      = render :partial => 'request', :collection => @requests

= will_paginate @requests
