%table.standard
  %thead
    %tr
      %th Organization
      %th Total Spent

  %tbody
    - top_organizations.each do |organization|
      %tr{:class => cycle("even", "odd")}
        %td= h organization.name
        %td= n2c(organization.spent_sum, 'RWF')
