:javascript
  $('tabs').hide();
%h2 About
%p This database helps us know where money and other resources are going to improve health in Rwanda, so that everyone knows what resources are tackling what problems. Because it's only together, seeing a full picture, that we can make the best decisions.
%p This database was created for the Government of Rwanda, by Health System 20/20, a global project funded by USAID, with helpful input from many other institutions.
