#main
  %h3
    Better Information.
    %br
    Better Decisions.
  %p
    %span
      =image_tag "landing_wave.png"
    The Health Resource Tracker tracks resource flows in the health sector from their many sources to the ultimate health function they serve. Information about health spending, both planned and realized, are essential for evidence-based budgeting, planning and policy-making.
  %p
    %span
      = image_tag "landing_wave.png"
    This system was created under the stewardship of the Resource Tracking Steering Committee, chaired by the Ministry of Health, with extensive input from CNLS. It was implemented by Health Systems 20/20, a global project funded by USAID, aided by many development partners, especially USAID, UNAIDS and CHAI.

#sidebar
  %h2
    This project is supported by:
  %ul
    %li
      %h3 USAID
      %p From the American People
      %a{:href => 'http://www.usaid.gov/', :target => '_blank'}
        = image_tag "landing_usaid.png"
    %li
      %h3 HEALTH SYSTEMS 20/20
      %p Bringing clarity to health systems
      %a{:href => 'http://www.hs2020.org/', :target => '_blank'}
        = image_tag "landing_2020.png"
