:javascript
  $('login').hide();%h2 Welcome to the Resource Tracking Database!
%p I am here to
%ul
  %li= link_to "Report data as a Donor or NGO", "ngo_dashboard"
  %li= link_to "View and report data as Government", "govt_dashboard"
  %li= link_to "Manage users and codes the database as Government", "admin_dashboard"
