<script>$('login').hide();</script>
<h2>Welcome to the Resource Tracking Database!</h2>

<p> I am here to </p>
<ul>
  <li><%= link_to "Report data as a Donor or NGO", "ngo_dashboard" %></li>
  <li><%= link_to "View and manage the database as Government", "govt_dashboard" %></li>
</ul>


