- content_for :head do
  = stylesheet_link_tag 's3slider.css', :media => 'screen'
  :javascript
    jQuery(document).ready(function(){
      jQuery('#s3slider').s3Slider({
        timeOut: 4000
      });
    });


- content_for :header do
  = render :partial => '/layouts/header'

-content_for :main do
  #content
    .wrapper
      .slider
        #s3slider
          %ul#s3sliderContent
            %li.s3sliderImage
              %img{ :src => "images/slider/1.png" }
              %span.top
                Resources going where they're most needed
            %li.s3sliderImage
              %img{ :src => "images/slider/2.jpg" }
              %span.top
                To improve and save lives
            %div.clear.s3sliderImage
      .text
        %h3 Better Information.
        %h3 Better Decisions.
        %p This database helps us know where money and other resources are going to improve health in Rwanda, so that everyone knows what resources are tackling what problems. Because it's only together, seeing a full picture, that we can make the best decisions.
        %p This database was created under the stewardship of the Resource Tracking Steering Committee, which is chaired by the Rwandan Ministry of Health. The database was implemented by Health Systems 20/20, a global project funded by USAID, with helpful input from many other institutions.