<h2>Donor/NGO Dashboard</h2>

<h3>Data Requests to Fulfill</h3>

<% unfulfill_responses.each { |response|
%>
<%= link_to response.data_request.title, workflow_start(response.id) # see WorkflowHelper
%>
<br>
<%
}
%>


<h3>My Organization's Comments on My Data Reports</h3>
<%= render :partial => Comment.all %> <!-- TODO named scope on organization and not my comments -->

<h3>Government Comments on My Data Reports</h3>
<%= render :partial => Comment.all %> <!-- TODO named scope on govt -->
