%h2 Submit
%p This page will contain a full summary of the data you have entered so you can submit it for review. In the meantime, you can review your data manually using the tabs located on top of the page.

%h3 Uncoded activities
- if @uncoded_activities.empty?
  %p There is no uncoded activities
- else
  %table
    %thead
      %tr
        %th Name
        %td Description
        %td Manage
    %tbody
      - @uncoded_activities.each do |activity|
        %tr
          %th= activity.name
          %th= activity.description
          %th= link_to 'Classify', activity_coding_path(activity)
