%h2 Submit
%p This page will contain a full summary of the data you have entered so you can submit it for review. In the meantime, you can review your data manually using the tabs located on top of the page.
%p
  = link_to "Submit", data_response_submit_path(current_user.current_data_response.id), :class => "next right"
