- title "User Guide"

#guide
  %h2 Using the Resource Tracking Tool:

  %h3 Welcome to the Resource Tracking Database!

  %p This database is intended to capture the flow of resources in the health sector in both the public sector and the development partner community, and inform a number of key health policy and planning needs related to resource tracking:

  %ul
    %li Identifying gaps and redundancies in health sector planning between different institutions
    %li Using data for justifying changes in budgeting and planning to meet key health sector goals
    %li Identify new areas where work can be done based on current resource and input allocations


  %h3 Organizing your data

  %p Policy makers and resource tracking experts in Rwanda and have broken down organizational health spending into five key questions:

  %ol
    %li 1. Where activities were implemented (by district)
    %li 2. Who provided services or implemented the programs
    %li 3. What activities, within the harmonized MTEF framework, were undertaken
    %li 4. What inputs, within the cost category framework, were needed to undertake the activity
    %li 5. What other costs were needed to provide these services outside of structured activities

  %p These are the questions that you and your organization are expected to answer for the upcoming Resource Tracking Exercise. This chart shows the elements in a slightly different way:

  = image_tag("overall_flow.png")

  %h3 Key Concepts with the Database:

  %p
    %em Flows:
    Funding flows are the key method for linking the five key elements listed above. When we say to create a “flow”, we are referring to creating a link between a project, a funding source, an implementer, or an activity. The linkages in this system between these elements are very fluid, allowing for maximum flexibility and accuracy for reporters.

  %p
    %em Comments:
    The database is driven by a collaborative commenting system that will open up communication between reporters and database administrators.  For virtually every step along the way in the database, there is an opportunity to insert comments to provide context for data, to ask questions when there is ambiguity or confusion, or to provide helpful feedback on ways to improve the system.


  %h3 Major Stakeholder Groups:

  %p
    %em Development Partners:
    The line between donor and NGO has increasingly become more blurry, as donors function more as NGOs (i.e. by implementing programs directly) and NGOs function more as donors (i.e. by channeling money to other organizations. Because of this, there has been a trend in recent resource tracking towards integrating Donor and NGO questionnaires into a single instrument. Donors and NGOs are expected to account for all resource that they have used in the health sector in Rwanda.

  %p
    %em Government Ministries and Institutions:
    A key purpose of the resource tracking process in Rwanda is to make comparisons and assess overlaps and shortfalls between Government and Development Partner spending.  For this reason, all major central government institutions are obliged to complete the same programmatic detail of activities within the tool as development partners are.  At the end of the process, the data will be compared at both a district and national level to make informed planning and financial decisions in upcoming years.

  %h3 Entering Projects:

  %p For the purposes of Rwanda’s resource tracking, a project is defined as a contractual or other formal agreement with a funding provider or oversight body to support health goals in Rwanda. A project should be a high-level strategic undertaking - can be implemented by multiple entities or take place in multiple districts - these will be specified on the following pages.

  %p
    %em Name (required):
    Enter a name for a project; using a name that is specified on a contract or formal agreement is strongly recommended

  %p
    %em Description:
    Enter a general 1-2 sentence description of the purpose of the project.

  %p
    %em Total Project Budget:
    Please enter a lifetime budget for a project (for example, if a 5-year project, enter the project ceiling).  This field is used as a data quality check.

  %p
    %em Total Budget GOR FY 10-11:
    The total funding that you plan to spend in the upcoming Rwandan Fiscal Year, July 1 2010  - June 30 2011. This field is used as a data quality check.

  %p
    %em Total Spend GOR FY 09-10:
    The total funding that was spent for the project in the previous Rwandan Fiscal Year, July 1 2009 – June 30 2010. This field is used as a data quality check.

  %p
    %em Start Date:
    You should specify a start date for the activity’s implementation in this field.

  %p
    %em End Date:
    You should specify an end date for the activity’s implementation in this field.

  %p
    %em Districts Worked In:
    This is a multiple selection checkbox where you should identify all districts where your project is implemented. If a project is central-level and not focused on particular districts, leave all checkboxes unfilled.

  %h3 Entering Funding Sources:

  %p A funding source is the organization or institution or body from who your organization receives funding for projects.  Enter the sources from which your organization receives funding for its projects. One record is created automatically for each project; add additional ones using "Create New" if a project has multiple sources of funding.

  %p
    %em Project:
    This is a drop-down where you can select one of the projects you have created. One record is created automatically for each project.

  %p
    %em Free form text for organization name from file import:
    This is used as the placeholder name for the organization if you use the CSV upload to import funding sources.  You then need to convert the free-form text field to one of the drop downs in the “From” field.

  %p
    %em From:
    This is a drop-down for the source of funding for the project that you have selected.  If a project has more than one funding source, you can create multiple flows that

  %p
    %em Total Budget GOR FY 10-11:
    The total funding that you plan to spend in the upcoming Rwandan Fiscal Year, July 1 2010  - June 30 2011. This field is used as a data quality check.

  %p
    %em Total Spend GOR FY 09-10:
    The total funding that was spent for the project in the previous Rwandan Fiscal Year, July 1 2009 – June 30 2010. This field is used as a data quality check.

  %p
    %em Spend in your FY 08-09  Q4,  FY 09-10 Q1, Q2, Q3, Q4:
    This is an optional way to detail your budgets, if your fiscal year does not align with the GOR FY (July-June). This field is used as a data quality check.

  %h3 Entering Implementers:

  %p For each project that you implement, resources will be used by your organization or other implementers to improve health in Rwanda. Enter in all providers of services – whether they are government agencies, health facilities, international partners, or research/academic institutions - who implement activities for your organization's projects from the list provided. If you don't see the organization in the list, you will be able to add a provider.

  %p
    %em The level of detail needed in the database depends on the types of Implementers you specify:
    When thinking about how to enter data, it’s important to remember who else is providing data for the system.  The system will be requesting data from donors, national-level NGOs, Rwandan Government ministries and agencies, and major health institutions.  The database is not requesting data from health facilities, local NGOs, individuals, or insurance/employers.
  %p If you are specifying a flow for one of the entities that are not being surveyed, it is important that you provide as much detail as possible about the activities underneath the organization as you have.  Conversely, if you are specifying a flow to an implementer who is already being surveyed with the tool, such as a large NGO, all you are required to do is to specify that they are the implementers of the project.

  %p
    %em Project:
    Specify the project from the drop-down that is associated with the flow to the provider

  %p
    %em To:
    Specify the implementer of the project from the drop-down provided.  An implementer can include another NGO, a Health Facility, a Health Institution or Government office, or a District.  If a specific implementer is not listed, you can add it by selecting "Add a new Organization" in the drop down menu for the implementer selection, create the record, then click on "Create New" in the row for the record you just made.

  %p
    %em Total Budget GOR FY 10-11:
    The total funding that you plan to spend in the upcoming Rwandan Fiscal Year, July 1 2010  - June 30 2011. This field is used as a data quality check.

  %p
    %em Total Spend GOR FY 09-10:
    The total funding that was spent for the project in the previous Rwandan Fiscal Year, July 1 2009 – June 30 2010. This field is used as a data quality check.

  %h3 Entering Activities:

  %p Activities are at the heart of the Resource Tracking database, and are where you will make decisions about the coding and classification of your various activities.

  %p
    %em Projects:
    You should select the project that this activity is structured within.

  %p
    %em Districts Worked In:
    You should select the districts that this activity is implemented in.  The list of districts is restricted to the districts that you have specified on the project page.

  %p
    %em Text for provider:
    This is used as the placeholder name for the organization if you use the CSV upload to import provider names.  You then need to convert the free-form text field to one of the drop downs in the “Implementer” field.

  %p
    %em Name (Optional):
    You can choose to provide a name for the activity to assist you in organizing your information

  %p
    %em Description:
    You can specify a general description (1-2 sentences describing the Activity) that you can use to help organize information and also assist you in classifying the activity.

  %p
    %em Start Date:
    You should specify a start date for the activity’s implementation in this field.

  %p
    %em End Date:
    You should specify an end date for the activity’s implementation in this field.

  %p
    %em Beneficiaries:
    You should specify any beneficiaries of your activity, if applicable to any of these population groups. You can select more than one group.

  %p
    %em Text for targets:
    This is used as the placeholder name for the organization if you use the CSV upload to import provider names.  You then need to convert the free-form text field to one of the drop downs in the “Implementer” field.

  %p
    %em Total Budget GOR FY 10-11:
    The total funding that  you plan to spend on this activity in the upcoming Rwandan Fiscal Year, July 1 2010  - June 30 2011. This field is used as a data quality check.

  %p
    %em Total Spend GOR FY 09-10:
    The total funding that was spent for this activity in the previous Rwandan Fiscal Year, July 1 2009 – June 30 2010. This field is used as a data quality check.

  %p
    %em Spend in your FY 08-09 Q4,  FY 09-10 Q1, Q2, Q3, Q4:
    This is an optional way to detail your activity expenditures, if your organization’s fiscal year does not align with the GOR FY (July-June)

  %p
    %em Institutions assisted:
    Many programs in Rwanda use health resources to provide technical or management assistance to health facilities or organizations, but don’t directly deliver services with the funds (for example, your organization works to improve management of a district hospital).  In this case, your organization would be the implementer, and the hospital you are working with would be the institution assisted (and not an implementer or sub-implementer)

  %p
    %em Sub-implementers:
    Many organizations fund a large number of different partners (for example, 20 health centers in a number of districts) that implement identical or very similar activities (e.g. a similar package of HIV, TB, and malaria services).  “Sub-implementers” are an optional way to break down these expenditures to avoid having to create new activities for each facility or provider.

  %p In order to specify sub-implementers, you should first create the activity that all of the implementers work on.  Afterwards, click on the sub-implementers link to specify the proportion of funds going to each providers (either by percentages or by currency amounts).



  %h3 Entering Classifications:

  %p Classifications are structured around the MTEF framework, and incorporate detail needed from Rwanda’s HIV National Strategic Plan (NSP), the Joint Annual Work Plan (JAWP), National Health Accounts (NHA), and the National AIDS Spending Assessment (NASA).

  %p
    %em The codes are nested within one another to allow for maximum level of reporting detail:
    The classifications in the database have been heavily adapted to the data needs of stakeholders of the methodologies as well as realistic assessments of the information that is available from partners.  The codes are constructed in a tree-like, nested pattern. This means that the classifications you report at a lower level will automatically inform higher-level strategic codes.  For this reason, it is important to provide as much activity level detail as is possible with the data that is available.

  %p
    %em You can use multiple codes:
    As resource tracking experts, we understand that activities sometimes cannot be forced into a single classification.  That is why the database was designed to allow for as many splits in classification as you deem necessary.  You can use actual currency amounts to denote these splits, or if it is easier, you can denote percentage splits among different codes.

  %p
    %em In-kind donations:
    For resources in activities that are not financial, e.g. donation of commodities from abroad, volunteer professional labor, it is important, for resource tracking purposes, to arrive at a fair market value for the donation.  Please estimate a fair market value for the non-financial good in the amount field, and describe the in-kind donation in the comment box located next to a classification.

  %h3 Suggestions for finding appropriate codes:

  %p Due to the comprehensiveness of the definitions in the system, there are over 300 codes that can be mapped to an activity.  To assist you in more easily finding the correct code, the following tricks are suggested:

  %p
    %em Use the “tool-tips” to help decide if a classification fits your activity:
    You can hover over the question mark on many codes to get a more comprehensive definition.  You can also find a printable codebook in the help section of the database at the bottom of this page.

  %p Use your browser’s search command to find relevant terms:
  %ol
    %li 1. Click (Expand All) button
    %li 2. Touch “ctrl-F” or otherwise activate your browser’s page search function
    %li 3. Enter a key word in the search box, such as “condom”, “malaria”, or “insurance”
    %li 4. Cycle through the returned search results until you find a suitable code. You can review the tool-tip definitions to ensure the code fits the activity you are classifying

  = image_tag("search_codes.jpg")

  %h3 Entering Cost Categories

  %p Cost categories are a second level of disaggregation of activities, and help the ministry track what types of resources and inputs are being used in the health sector in various districts.

  %p The categories for disaggregating actual activity costs are as follows:

  = image_tag("table_1.jpg")

  %h3 Entering Other Costs:

  %p Other costs are designed to help you identify where your organization classifies activities other than those that fit into activities that you’ve categorized.  These are designed to illustrate how expenses for managing projects and activities at a central level are structured.

  %p You can detail other costs at the project or at the organization level.  To detail the expenses for one or more project, create a new flow, and select the number of projects the detail applies to.  To detail expenses for all projects, select all checkboxes. To detail costs that fall outside all projects, select no boxes. Once you have created a flow, click on the “detail cost areas” link and classify these costs.

  %p The categories for disaggregating your other costs are as follows. These costs are further broken down into expenses that are captured both within and separate from an agreed cost recovery rate.

  = image_tag("table_2.jpg")
