- title "User Guide"

= link_to "Continue to My Dashboard", user_dashboard_path(current_user)

%h2 Using the Resource Tracking Tool:

%p Welcome to the Resource Tracking Database!

%p This database is intended to capture the flow of resources in the health sector in both the public sector and the development partner community, and inform a number of key health policy and planning needs related to resource tracking:

%ul
  %li Identifying gaps and redundancies in health sector planning between different institutions
  %li Using data for justifying changes in budgeting and planning to meet key health sector goals
  %li Identify new areas where work can be done based on current resource and input allocations

%h3 Organizing your data

%p Policy makers and resource tracking experts in Rwanda and have broken down organizational health spending into five key questions:

%ol
  %li Where activities were implemented (by district)
  %li Who provided services or implemented the programs
  %li What activities, within the harmonized MTEF framework, were undertaken
  %li What inputs, within the cost category framework, were needed to undertake the activity
  %li What other costs were needed to provide these services outside of structured activities

%p These are the questions that you and your organization are expected to answer for the upcoming Resource Tracking Exercise. This chart shows the elements in a slightly different way:
