- title "User Guide"

#guide
  %h2 Using the Health Resource Tracker:

  %h3 Welcome!

  %p This web application is intended to capture the flow of resources in the health sector in both the public sector and the development partner community, and inform a number of key health policy and planning needs related to resource tracking:

  %ul
    %li Identifying gaps and redundancies in health sector planning between different institutions
    %li Using data for justifying changes in budgeting and planning to meet key health sector goals
    %li Identify new areas where work can be done based on current resource and input allocations

  %h3 Organizing your data

  %p Policy makers and resource tracking experts have broken down organizational health spending into five key questions:

  %ol
    %li 1. Where activities were implemented (by district)
    %li 2. Who provided services or implemented the programs
    %li 3. What activities, within the harmonized MTEF framework, were undertaken
    %li 4. What inputs, within the cost category framework, were needed to undertake the activity
    %li 5. What other costs were needed to provide these services outside of structured activities

  %p These are the questions that you and your organization are expected to answer for the upcoming Resource Tracking Exercise. This chart shows the elements in a slightly different way:

  = image_tag("overall_flow.png")

  %h3 Key Concepts with the Database:

  %p
    %em Flows:
    Funding flows are the key method for linking the five key elements listed above. When we say to create a “flow”, we are referring to creating a link between a project, a funding source, an implementer, or an activity. The linkages in this system between these elements are very fluid, allowing for maximum flexibility and accuracy for reporters.

  %p
    %em Comments:
    The database is driven by a collaborative commenting system that will open up communication between reporters and database administrators.  For virtually every step along the way in the database, there is an opportunity to insert comments to provide context for data, to ask questions when there is ambiguity or confusion, or to provide helpful feedback on ways to improve the system.


  %h3 Major Stakeholder Groups:

  %p
    %em Development Partners:
    The line between donor and NGO has increasingly become more blurry, as donors function more as NGOs (i.e. by implementing programs directly) and NGOs function more as donors (i.e. by channeling money to other organizations. Because of this, there has been a trend in recent resource tracking towards integrating Donor and NGO questionnaires into a single instrument. Donors and NGOs are expected to account for all resource that they have used in the health sector.

  %p
    %em Government Ministries and Institutions:
    A key purpose of the health resource tracking process is to make comparisons and assess overlaps and shortfalls between Government and Development Partner spending.  For this reason, all major central government institutions are obliged to complete the same programmatic detail of activities within the tool as development partners are.  At the end of the process, the data will be compared at both a district and national level to make informed planning and financial decisions in upcoming years.

  %h3 Entering Projects:

  %h3 Entering Implementers:

  %p
    %em To:
    Specify the implementer of the project from the drop-down provided.  An implementer can include another NGO, a Health Facility, a Health Institution or Government office, or a District.  If a specific implementer is not listed, you can add it by selecting "Add a new Organization" in the drop down menu for the implementer selection, create the record, then click on "Create New" in the row for the record you just made.


  %h3 Entering Classifications:

  %p Classifications are structured around the MTEF framework, and incorporate detail needed from Rwanda’s HIV National Strategic Plan (NSP), the Joint Annual Work Plan (JAWP), National Health Accounts (NHA), and the National AIDS Spending Assessment (NASA).

  %p
    %em The codes are nested within one another to allow for maximum level of reporting detail:
    The classifications in the database have been heavily adapted to the data needs of stakeholders of the methodologies as well as realistic assessments of the information that is available from partners.  The codes are constructed in a tree-like, nested pattern. This means that the classifications you report at a lower level will automatically inform higher-level strategic codes.  For this reason, it is important to provide as much activity level detail as is possible with the data that is available.

  %p
    %em You can use multiple codes:
    As resource tracking experts, we understand that activities sometimes cannot be forced into a single classification.  That is why the database was designed to allow for as many splits in classification as you deem necessary.  You can use actual currency amounts to denote these splits, or if it is easier, you can denote percentage splits among different codes.

  %p
    %em In-kind donations:
    For resources in activities that are not financial, e.g. donation of commodities from abroad, volunteer professional labor, it is important, for resource tracking purposes, to arrive at a fair market value for the donation.  Please estimate a fair market value for the non-financial good in the amount field, and describe the in-kind donation in the comment box located next to a classification.

  %h3 Suggestions for finding appropriate codes:

  %p Due to the comprehensiveness of the definitions in the system, there are over 300 codes that can be mapped to an activity.  To assist you in more easily finding the correct code, the following tricks are suggested:

  %p
    %em Use the “tool-tips” to help decide if a classification fits your activity:
    You can hover over the question mark on many codes to get a more comprehensive definition.  You can also find a printable codebook in the help section of the database at the bottom of this page.

  %p Use your browser’s search command to find relevant terms:
  %ol
    %li 1. Click (Expand All) button
    %li 2. Touch “ctrl-F” or otherwise activate your browser’s page search function
    %li 3. Enter a key word in the search box, such as “condom”, “malaria”, or “insurance”
    %li 4. Cycle through the returned search results until you find a suitable code. You can review the tool-tip definitions to ensure the code fits the activity you are classifying

  = image_tag("search_codes.jpg")

  %h3 Entering Cost Categories

  %p Cost categories are a second level of disaggregation of activities, and help the ministry track what types of resources and inputs are being used in the health sector in various districts.

  %p The categories for disaggregating actual activity costs are as follows:

  = image_tag("table_1.jpg")

