- title "Change Your Password"

%h1 Change Password

%p Please reset your password

- semantic_form_for @user, :url => password_reset_path(:id => params[:id]) do |f|
  - f.inputs do
    = f.input :password
    = f.input :password_confirmation
  - f.buttons do
    = f.commit_button "Change Password"