.classifications
  = render '/code_assignments/tab_nav'

#activity_classification
  .tab1
    %ul
      - @code_roots.each do |code|
        = render 'code_row', :code => code

  .tab2
    %ul
      - activity.locations.each do |location|
        %li= location.name
  .tab3
  .tab4
  .tab5
  .tab6