- if assignments.has_key?(code.id)
  %li
    = code.short_display
    = assignments[code.id].cached_amount
    - unless code.leaf?
      %ul
        - code.children.each do |child|
          = render '/admin/data_responses/code_row', :code => child, :activity => activity, :assignments => assignments