%div{:class => "resources", :"data-resources" => "comments", :style => "clear: both"}
  .placer
  / js event: .nested_table, .nested_comment
  %table.dashboard_comments
    %thead
      %tr
        %th{:colspan => 100}
          = "Comments (#{project.comments.count})"
          %ul.actions
            / js event: .new_btn, .enabled
            %li= link_to "Create new", custom_new_comments_path(:commentable_type => 'Project', :commentable_id => project.id), :class => "new_btn enabled"
    %tbody
      = render :partial => 'comments/row', :collection => project.comments, :as => :comment
