%div{:class => "resources", :"data-resources" => "comments", :style => "clear: both"}
  .placer
  / js event: .nested_table, .nested_comment
  %table.dashboard_comments
    %thead
      %tr
        %th{:colspan => 100}
          = "Comments (#{commentable.comments.count})"
          %ul.actions
            / js event: .new_btn, .enabled
            %li= link_to "Create new", custom_new_comments_path(:commentable_type => commentable.class.name, :commentable_id => commentable.id), :class => "new_btn enabled"
    %tbody
      = render :partial => 'comments/row', :collection => commentable.comments, :as => :comment
