*.swp
*.swo
*.sw*
*~
.~*
*sqlite3-journal
.DS_Store
resourcetracking.tar.gz
app/stylesheets/.sass-cache/*
db/*.sqlite3
db/*.sqlite3-*
db/*.gz
db/*.db
db/*.tgz
db/*pgdump*
db/reports/*.csv
config/database.yml
log/*.log
tmp/*
public/stylesheets/compiled/*
public/system/*

# Cucumber/webrat tmp files
webrat-*
capybara*.html
rerun.txt
coverage/*

#partial heroku db:pulls
pull*.dat

# The .bundle folder should never be checked into the code repository as it holds machine-local configuration
.bundle/

# Various IDE files
.idea
.loadpath
.project
*.tmproj
.sass-cache

# Slurper config (for pivotal tracker)
doc/slurper_config.yml
slurper_config.yml

# heroku vars files
config/settings.secret.yml
config/settings.loader*

# diffmerge temp files
___*

.amazon_keys
slurper
slurper_config.yml

