- first_tab_class = ((params[:controller] == 'activities' || params[:controller] == 'other_costs' || params[:controller] == 'projects') && params[:mode].nil?) ? 'selected' : nil
- is_activity = outlay.class == Activity ? true : false

.section_overlap
  %ul.section_nav
    - if outlay.new_record?
      %li{:class => first_tab_class}
        .dummy
          %span 1
          Implementers
      %li
        .dummy
          %span 2
          Locations
      - if is_activity
        %li
          .dummy
            %span 3
            Purposes
        %li
          .dummy
            %span 4
            Inputs
        %li
          .dummy
            %span 5
            Outputs, Targets, Beneficiaries
    - else
      -# TODO: add ".finished" class to spans to indicate this tab is "done"
      %li{:class => first_tab_class}
        - link_to edit_activity_or_ocost_path(outlay) do
          %span 1
          Implementers

      %li{:class => params[:mode] == 'locations' ? 'selected' : nil}
        - link_to edit_activity_or_ocost_path(outlay, :mode => 'locations') do
          %span 2
          Locations

      - if is_activity
        %li{:class => params[:mode] == 'purposes' ? 'selected' : nil}
          - link_to edit_activity_or_ocost_path(outlay, :mode => 'purposes') do
            %span 3
            Purposes

        %li{:class => params[:mode] == 'inputs' ? 'selected' : nil}
          - link_to edit_activity_or_ocost_path(outlay, :mode => 'inputs') do
            %span 4
            Inputs
        %li{:class => params[:mode] == 'outputs' ? 'selected' : nil}
          - link_to edit_activity_or_ocost_path(outlay, :mode => 'outputs') do
            %span 5
            Targets, Outputs & Beneficiaries
