body.app
  .project, .activity, .sub_activity
    &.entry_header
      cursor: pointer
      font-size: 12px
      line-height: 1.2em
    &.entry_main
      display: none
      .actions
        font-size: 12px

  .hidden
    display: none

  .manage
    width: 100px

  .full-width
    h2
      background: none
      margin: 10px 10px 0
      text-transform: none
    h3, .like_a_h3
      color: $mid-blue
      font-size: 0.9em
      padding: 20px 10px 10px
      text-transform: none
    h4
      font-size: 12px
      
    > .summary
      margin: 0 10px 10px
      tr
        td
          background: #eee
          border-right: 1px solid white
          border-bottom: 1px solid white
          color: $mid-blue
          width: 50%
          padding: 7px
          font-size: 12px
          &:first-child
            text-align: right
            font-weight: bold

  a
    color: $orange
    &:hover, &:focus, &:active
      color: $mid-blue
      
  .projects
    width: 100%

  .dashboard_form
    float: left
    margin-bottom: 20px
    width: 31%
    font-size: 11px
    padding: 0 10px 20px 10px
    +pie-clearfix
  .resources
      
    .placer
      position: relative
      .form_box
        background: $lightest-blue + #111
        border-bottom: 1px solid white
        border-left: 1px solid $lighter-blue
        border-right: 1px solid $lighter-blue
        border-top: 6px solid $mid-blue
        padding: 10px 20px
        
    .edit_form
      padding: 0 10px
      
    .dashboard_comments, .placer
      tbody td
        font-size: 12px
      ol
        +horizontal-list
        
        #basic
          float: left
          width: 70%
          li
            width: 48%
        .buttons
          float: left
          font-size: 12px
          margin-top: 10px
          width: 25%
      input[type=text], label
        width: 90%
      textarea
        height: 30px
        width: 90%
    .inline-errors
      color: red
      margin: -10px
      
    .close
      background: $mid-blue
      border: 1px solid white
      color: white
      float: right
      font-size: 12px
      margin-top: 20px
      padding: 7px 14px 5px
      text-decoration: none
      +border-radius
      &:hover
        background: white
        border: 1px solid $lighter-blue
        color: $mid-blue
    .cancel_btn
      margin: 15px 0 0 10px

  input, textarea
    border: 1px solid $light-blue
    margin-bottom: 10px
    padding: 7px
    +border-radius
  input[type="submit"]
    background: orange
    border: none
    color: white
    cursor: pointer
    font-weight: bold
    padding: 7px 15px
    text-transform: uppercase
    &:hover
      background: $mid-blue
  label
    color: $mid-blue
    display: block
    font-size: 12px
    td
      display: inline

  #response_charts_nav, #response_charts
    font-size: 0.8em
    padding-bottom: 15px
    float: left
    width: 67%

  /* paragraph guide style */
  #content #main p.guide
    background: image_url("guide.png") no-repeat 15px 0px
    color: $mid-blue
    font-size: 10px
    letter-spacing: 0.05em
    margin: 20px 0 10px 5px
    padding: 0 0 0 35px

  /* default layout for a simple table */
  .simple_table
    padding: 0 10px 10px 10px
    +pie-clearfix
    hr
      background: none
      border: none
      border-top: 1px dashed $light-blue
      margin-top: 20px
      
    .summary
      font-size: 12px
      tr td:first-child
        font-weight: bold
        text-align: right
        width: 45%
        
    .activities .summary td
      font-size: 12px
      thead tr th
        font-size: 12px
      
    h3
      color: $mid-blue
      font-size: 0.9em
      padding: 20px 10px 10px 0
      text-transform: none

    table
      background: #eee
      color: $mid-blue
      width: 100%
      a
        display: inline-block
        font-size: 1em
        &.new_btn
          background: $mid-blue
          border-bottom: 1px solid $light-blue
          color: white
          font-size: 10px
          margin-top: 10px
          padding: 6px 12px 5px
          text-decoration: none
          text-transform: uppercase
          +border-top-radius(3px)
          &:hover
            background: $light-blue
            color: $dark-blue
        &.disabled
          display: none
      .third
        width: 31%
      th, td
        border-right: 1px solid white
        padding: 7px

      tbody
        font-size: 12px
        th, td
          border-bottom: 1px solid white

        tr:hover
          background: #f9f9f9

      thead
        background: !mid-blue
        border-bottom: 1px solid white
        color: white
        font-size: 12px
        /* end */



    .name
      font-weight: bold
    .implementer
      font-style: italic
      font-size: 0.9em
    #activity_classification
      padding: 0
      h4
        margin-bottom: 5px
      ul
        padding-left: 20px
    #sub-activity
      margin-top: 5px
      li
        border: 1px solid $light-blue
        margin: -1px 0 0
        padding: 7px 5px 5px

    li
      padding-top: 5px
      &.funders
        font-size: 0.8em
    .active
      background: $light-blue
      color: $dark-blue
      &:hover
        background: $light-blue
    .s_border
      background: white
      border: 3px solid $lighter-blue
      padding: 10px
      &:hover
        background: white
      > td
        border: 3px solid $light-blue
        padding: 20px 10px
    .t_right
      float: right
      margin-right: 0
      text-align: right

    .activities, .dashboard_comments

      thead
        tr:hover
          background: $mid-blue
      tbody
        font-size: 1.2em
    .dashboard_districts
      margin-bottom: 20px
      +pie-clearfix
      li
        display: inline
        float: left
        margin: 0
        width: 80px

  ul.compact_tab
    +horizontal-list
    border-bottom: 1px solid $light-blue
    color: $light-blue - #333
    line-height: 1.5em
    font-size: 15px
    a
      text-decoration: none

  ul.inline_tab
    +horizontal-list
    border-bottom: 1px solid $light-blue
    color: $light-blue - #333
    line-height: 1.5em
    font-size: 12px
    a
      text-decoration: none
    .selected a
      border-bottom: 4px solid $light-blue
      color: $mid-blue
      display: inline-block
      font-weight: bold
      
.full-width, .simple_table
  .full
    width: 100%
    +pie-clearfix
  .third
    float: left
    margin-right: 1%
    margin-bottom: 20px
    width: 31%
    .third
      margin: 0
  .fourth
    float: left
    margin-right: 2%
    width: 23%
  .third, .half, .fourth
    li
      margin-bottom: 10px
    span
      display: block
      font-weight: bold
      margin-bottom: 5px
  .two-thirds
    float: left
    margin-bottom: 20px
    width: 67%
  .half
    float: left
    margin-right: 0
    margin-bottom: 20px
    width: 50%
