
=normal_link()
  color= !orange
  background: none
  font-size: 0.8em
  padding-left: 10px
  text-decoration: none
  &:hover
    background: none
    color= !mid-blue
    text-decoration: underline

body.app
  .wrapper
    min-width: 960px
    max-width: 1280px
    margin: 0 auto
    padding: 0 15px
    position: relative
  #content .wrapper
    //+box-shadow(#eee, 0, 2px, 5px)

  #header_app
    height: 30px

  h1
    font: bold 24px/30px Arial,sans-serif
    color: $mid-blue

  p
    line-height: 1.2em
    +clearfix
  a
    &.create_new
      background: $orange
      border: 1px solid $orange - #222
      color: #fff
      display: inline-block
      font-size: 12px
      font-weight: bold
      margin-bottom: 10px
      padding: 7px 12px 5px
      text-decoration: none
      +border-radius
      +box-shadow(#999, 0, 1px, 3px)
      +linear-gradient(color-stops($orange, $orange - #222))
      +text-shadow($orange - #444, 0, 1px, 0)
      img
        position: relative
        top: 1px
      &:hover, &:focus
        background: green
        border: 1px solid green - #222
        color: #fff
        +linear-gradient(color-stops(green, green - #222))
      &:active
        outline: none
        position: relative
        top: 1px

    &.edit_button
      background: $light-blue
      border: 1px solid $light-blue - #222
      color: $mid-blue
      display: inline-block
      font-size: 12px
      font-weight: bold
      margin-bottom: 10px
      padding: 7px 12px 5px
      text-decoration: none
      +border-radius
      +box-shadow(#999, 0, 1px, 3px)
      +linear-gradient(color-stops($lightest-blue, $lightest-blue - #222))
      +text-shadow($lighter-blue + #111, 0, 1px, 0)
      img
        position: relative
        top: 1px
      &:hover, &:focus
        background: $orange
        border: 1px solid $orange - #222
        color: #fff
        +linear-gradient(color-stops($orange, $orange - #222))
        +text-shadow($orange - #444, 0, 1px, 0)
      &:active
        outline: none
        position: relative
        top: 1px

    &.delete_button
      background: $lightest-blue
      border: 1px solid $light-blue - #222
      color: $mid-blue
      display: inline-block
      font-size: 12px
      font-weight: bold
      margin-bottom: 10px
      padding: 7px 12px 5px
      text-decoration: none
      +border-radius
      +box-shadow(#999, 0, 1px, 3px)
      +linear-gradient(color-stops($lightest-blue + #060606, $lightest-blue - #111))
      +text-shadow(#fff, 0, 1px, 0)
      img
        position: relative
        top: 1px
      &:hover, &:focus
        background: $red
        border: 1px solid $red - #222
        color: #fff
        +linear-gradient(color-stops($red, $red - #222))
        +text-shadow($red - #444, 0, 1px, 0)
      &:active
        outline: none
        position: relative
        top: 1px


    &.edit_button
      background: $light-blue
      border: 1px solid $light-blue - #222
      color: $mid-blue
      display: inline-block
      font-size: 12px
      font-weight: bold
      margin-bottom: 10px
      padding: 7px 12px 5px
      text-decoration: none
      +border-radius
      +box-shadow(#999, 0, 1px, 3px)
      +linear-gradient(color-stops($lightest-blue, $lightest-blue - #222))
      +text-shadow($lighter-blue + #111, 0, 1px, 0)
      img
        position: relative
        top: 1px
      &:hover, &:focus
        background: $orange
        border: 1px solid $orange - #222
        color: #fff
        +linear-gradient(color-stops($orange, $orange - #222))
        +text-shadow($orange - #444, 0, 1px, 0)
      &:active
        outline: none
        position: relative
        top: 1px

    &.delete_button
      background: $lightest-blue
      border: 1px solid $light-blue - #222
      color: $mid-blue
      display: inline-block
      font-size: 12px
      font-weight: bold
      margin-bottom: 10px
      padding: 7px 12px 5px
      text-decoration: none
      +border-radius
      +box-shadow(#999, 0, 1px, 3px)
      +linear-gradient(color-stops($lightest-blue + #060606, $lightest-blue - #111))
      +text-shadow(#fff, 0, 1px, 0)
      img
        position: relative
        top: 1px
      &:hover, &:focus
        background: $red
        border: 1px solid $red - #222
        color: #fff
        +linear-gradient(color-stops($red, $red - #222))
        +text-shadow($red - #444, 0, 1px, 0)
      &:active
        outline: none
        position: relative
        top: 1px

  /* overriding the shared logo style*/
  #header_app
    a
      text-decoration: none
    .wrapper
      +pie-clearfix
    #logo
      color: $light-blue
      font-size: 14px
      font-weight: bold
      padding: 10px 0
      position: absolute
      text-transform: uppercase
      width: 300px
      +opacity(0.8)
      +text-shadow(#000, 0, 1px, 1px)
      &:hover
        +opacity(1)
      h1
        margin-top: -9px
        span
          margin-left: -5px
  /* end */



  /* app main nav styles */
  #main-nav
    background= image_url("bg-blue.jpg")

    a
      color= !lighter-blue
      font-size: 0.8em

    ul
      display: block
      overflow: hidden
      min-width: 650px

      li
        +box-shadow(#111, 0, 0px, 13px)
        display: block

        &:first-child a
          +border-top-left-radius
        &:last-child a
          +border-top-right-radius

        a
          border: 1px solid $mid-blue
          border-left: 1px solid $light-blue - #222
          border-right: 1px solid $mid-blue + #222
          margin: 3px 0 0
          background: !light-blue
          color: !mid-blue
          display: inline
          float: left
          font-size: 12px
          height: 15px
          font-weight: bold
          padding: 12px 15px 8px 17px
          text-decoration: none
          +transition(hover, 1s, ease, 0)
          +linear-gradient(color-stops($light-blue - #111, $light-blue - #555))
          +text-shadow($light-blue, 0, 1px, 1px)

          &:hover
            background: !lightest-blue
            color: !mid-blue
            +linear-gradient(color-stops($lightest-blue, $lighter-blue - #111))
            +text-shadow(#fff, 0, 1px, 1px)

          &.active
            border-bottom: 1px solid #FFF
            border-left: none
            background: white
            color= !dark-blue
            letter-spacing: 0.05em
            margin: 0
            padding-top: 15px
            +border-top-radius(3px)
            +linear-gradient(color-stops($lightest-blue, white))
            +text-shadow(#fff, 0, 1px, 1px)

    img
      float: right
      margin-top: -35px
  /* end */

  /* adding properties to the shared flashes styles */
  #flashes
    #notice a
      text-transform: uppercase
  /* end */

  /* adding properties to the shared admin style */
  #admin
    margin-top: 10px
    right: 75px
    position: absolute
    z-index: 10
    span
      padding-top: 10px !important
    a
      padding: 5px 10px !important

    //ul li
    //  &:first-child a
    //    +border-bottom-left-radius
    //  &:last-child a
    //    +border-bottom-right-radius
  /* end */

  /* sub-nav styles */
  #sub-nav
    +box-shadow(#f0f0f0, 0, 2px, 7px)
    margin: 15px 0 10px
    ul
      +horizontal-list
      padding: 0 15px 15px 15px
    .active
      a
        background: !orange
        color: white

    a
      +border-radius
      background: !lightest-blue
      color: !mid-blue
      display: inline-block
      font-size: 0.8em
      padding: 7px 10px 6px 10px
      text-decoration: none
      &:hover, &:focus
        background: !mid-blue
        color: white

  #page_tips
    .nav
      display: none
      padding: 10px 10px 0 10px
      height: 16px
      a
        float: right
        +normal_link

  #content .wrapper
    padding: 0 0 20px 0

    #crumbs
      padding: 0 0 0 10px
      overflow: hidden

      ul, a
        color: #999
        font-size: 0.7em

      ul
        float: left

      a
        +border-radius
        color= !mid-blue
        margin-left: 5px
        padding: 5px 7px
        &:hover
          background: $light-blue
          color: $mid-blue
          text-decoration: none


    #main
      float: left
      min-width: 600px
      padding: 20px 0 0 15px
      width: 70%

      a
        color= !orange
        font-size: 0.8em
        text-decoration: none
        &:hover
          color: $lightest-blue

      > a
        padding-left: 10px

      h3
        color= !mid-blue
        font-size: 0.9em
        padding: 10px 0 0 10px



      .nav2 a
        font-size: 1em

      // fix the tiny AS links.
      table
        .actions
          a
            font-size: 1em

      .link_like
        color: #09c
        cursor: pointer
        float: left

        &:hover
          color: #069
          text-decoration: underline
    .next, input[type=submit]
      +border-radius
      border: 1px
      background: $orange
      color: white
      cursor: pointer
      font-size: 14px
      font-weight: bold
      padding: 9px 15px 7px 15px
      text-decoration: none
      text-transform: uppercase
      +linear-gradient(color-stops($orange, $orange - #333))
      +box-shadow(#666, 0, 1px, 3px)
      +text-shadow(#666, 0, 1px, 1px)
      &:hover
        background= !mid-blue
        color: white
        text-decoration: none
      &.big
        clear: both
        display: inline-block
        float: none
        margin: 10px 0
        padding: 13px 20px 10px 20px
        overflow: hidden

    .next
      margin-top: -5px

    .comments
      border-bottom: 1px dashed #ddd
      display: block
      margin: 20px 0 10px
      width: 100%
      +clearfix

    .collapsed
      margin: 0
      width: auto

    a.comments
      border: none

    #page_tips .desc, #helper, #c-help
      +border-radius
      border: !very-light-grey 1px solid
      padding-bottom: 15px
      margin-bottom: 10px

    #page_tips .desc
      span.close
        float: right

      .close
        margin: -25px 10px 0 0

    #c-help
      margin: 20px 0



    #sidebar
      float: right
      min-width: 200px
      padding: 20px 15px 0 0
      width: 25%

      #helper
        .title
          padding-top: 10px
          padding-bottom: 8px
        a
          color= !orange
          font-size: 0.8em
          text-decoration: none
          text-transform: uppercase
        p
          padding: 10px 10px 0 10px

        #terms, #examples
          border-top: 1px dashed #ccc
          a
            color= !mid-blue
            font-size: 0.9em
            font-weight: bold
            line-height: 1.34
            text-decoration: underline
          p
            color: #999
            font-size: 0.8em
            line-height: 1.34
            margin-bottom: 5px

        #examples
          padding: 0 10px
          font-size: 0.9em

    // google apps style of sub-tabs

    h2
      padding: 10px

    h2
      +border-top-radius
      background= !lightest-blue
      clear: both
      color= !mid-blue
      font-size: 0.8em
      letter-spacing: 0.05em

  #content #map_fields_form
    .map_fields
      padding-left: 10px
      margin-bottom: 20px
    tr th
      background: none
      border: none
      padding-right: 20px
    td
      font-size: 0.8em
      padding: 2px 0

  #guide
    h2
      +border-radius
      margin: 10px 0
    h3, h5
      font-weight: bold
    h3, h5, h6
      padding: 20px 0 10px 10px
    h6
      font-style: italic
      text-decoration: underline
    p
      padding: 0 0 10px 10px
    a
      margin-bottom: 10px
    em
      font-style: italic
    ul, ol
      padding-left: 20px
      margin-bottom: 10px
      font-size: 0.8em
      li
        padding-bottom: 5px
    ul li
      list-style-type: disc
      margin-left: 10px

  /* comments styles
  #main > ul
    border: 1px solid $lightest-blue
    margin-bottom: 20px
    padding: 10px
    li
      margin-bottom: 3px

  #content .dashboard_comments
    border: 1px solid $lightest-blue
    link-type: none
    padding: 20px 10px 0
    li
      border-bottom: 1px dashed $lightest-blue
      margin-bottom: 20px
    h5
      color: $mid-blue
      font-size: 0.75em
      padding-bottom: 7px
      span
        font-size: 1em
    p
      color: $light-blue - #777
      &.main
        padding: 0 20px 3px 6px
      &.time
        color: $light-blue - #333
        font-size: 0.7em
        font-style: italic
        padding: 0 20px 5px 6px
    .read_more
      padding-bottom: 10px

/* adding styles for the Submit page */
body#static_page_submit #content .wrapper #main

  h3
    padding-bottom: 5px
    padding-left: 0

  p
    border: 1px solid !lightest-blue
    color: !mid-blue
    margin-bottom: 20px

  table
    background: !very-light-grey
    color: !mid-blue
    font-size: 0.8em
    margin: 0 0 20px 0
    width: 100%

    a
      font-size: 1em

    th, td
      border-right: 1px solid white
      padding: 7px

    tbody
      th, td
        border-bottom: 1px solid white

      tr:hover
        background: #f9f9f9

    thead
      background: !mid-blue
      border-bottom: 1px solid white
      color: white
      &:hover
        background: $mid-blue

// Grouping tab styles


ul.group
  border-bottom: 1px solid $light-blue
  margin-top: 10px
  margin-bottom: 20px
  font-size: 11px
  +linear-gradient(color-stops(white, $lightest-blue + #090909))

  li
    display: inline-block
    padding: 0px

    a
      border-top: 1px solid #FFF
      display: inline-block
      line-height: 1.6em
      padding: 8px 15px 5px
      text-decoration: none

      &:hover, &:focus
        text-decoration: underline

      &.active
        background: white
        border-top: 1px solid $light-blue
        border-right: 1px solid $light-blue
        border-bottom: 1px solid white
        border-left: 1px solid $light-blue
        color: $mid-blue
        font-weight: bold
        margin-bottom: -1px
        +border-top-radius
        +linear-gradient(color-stops($lightest-blue + #090909, white))

.main_heading
  +box-shadow(#eee, 0, 3px, 3px)
  margin: 0 -15px 15px
  padding: 5px 15px 10px
  +clearfix

.sub_heading
  clear: both
  +clearfix
  font-size: 15px !important

.heading_icon
  margin: 0 3px -3px 0
.link_list
  border: 1px solid $lightest-blue
  padding: 7px 0 12px
  li a
    border-bottom: 1px solid #eee
    display: inline-block
    font-size: 12px
    padding: 0 0 3px 10px

.dashboard_section
  border: 1px solid $lightest-blue
  margin-bottom: 20px
  padding: 7px 10px 12px 10px
  +border-bottom-radius
  +clearfix
  .first-half, .second-half
    margin: 0 !important
  li
    position: relative
    +transition(hover, 1s, ease, 0)
    &:hover
      a
        background: image_url("icon_link_hover.png") no-repeat $lightest-blue 10px center
        color: $mid-blue
        +transition(hover, 1s, ease, 0)
      ul.report_actions
        opacity: 1
  h3
    padding-top: 10px !important

  a
    background: image_url("icon_link.png") no-repeat $lightest-blue + #090909 10px center
    display: block
    font-size: 12px
    margin-bottom: 5px
    padding: 10px 8px 8px 28px
    text-decoration: none
    +border-radius
    +transition(hover, 1s, ease, 0)
    &.grayed-out
      color: #999
    &:hover
      background: image_url("icon_link_hover.png") no-repeat $lightest-blue 10px center

  ul.report_actions
    opacity: 0
    position: absolute
    top: 6px
    right: 10px
    +transition(hover, 0.6s, ease, 0)
    li
      display: inline
      float: right
      &.separator
        border-left: 1px dotted #bbb
        height: 15px
        margin: 2px 4px 2px 5px
        width: 1px
    a
      background: none
      display: inline
      opacity: 0.3
      padding: 0 2px
      &:hover
        opacity: 0.9
      &.regenerate
        opacity: 0.9

form.data_response, form.project, form.basic_form
  ol
    li
      border-bottom: 1px dashed #eee
      margin-bottom: 7px
      padding-bottom: 7px
      overflow: hidden
      &:last-child
        border: none
        margin: 0
      &.last
        border: none
        margin: 0
        padding: 0
      &.amounts
        display: block
        li
          border: none
          display: inline
          float: left
          margin: 0
          padding: 0
          width: 20%
          label
            width: 100%
          input[type=text]
            width: 85%
        ul
          float: left
          margin: 0
          width: 82%
        input[type=text], textarea
          width: 75px

    h3
      background: $lightest-blue
      margin-top: 5px
      padding: 10px 10px 7px !important
      +border-top-radius(3px)
    label
      float: left
      margin-top: 9px
      width: 18%
    select, input[type=text], textarea
      float: left
      font-size: 12px
      padding: 5px
      width: 35%
      +border-radius(3px)
    select
      padding: 2px
      width: 36.5%

    .inline-hints
      float: left
      margin-left: 1%
      width: 44%

    .inline-errors
      color: red
      float: left
      font-size: 11px
      margin-top: 3px
      margin-left: 15%
      padding-left: 10px
      text-transform: uppercase
      width: 70%


  .check_boxes
    fieldset
      float: left
      width: 54%
    legend
      float: left
      width: 33%
      label
        width: auto
    ol
      +pie-clearfix
      float: left
      width: 67%
      +border-radius(3px)
    li
      border: none
      display: inline-block
      float: left
      margin-bottom: 0
      width: 33%
      label
        font-size: 11px
        font-weight: normal
        margin-top: 0
        width: auto
    input[type=checkbox]
      margin: 0
      padding: 0

  .form_aside
    background: $lightest-blue
    float: right
    margin-top: 5px
    padding: 2%
    width: 16%
    +border-radius(3px)
    h3
      border-bottom: 1px dashed $mid-blue + #222
      margin-bottom: 10px
      padding-top: 0px !important
    p
      font-size: 11px
      line-height: 1.4

#heading-activity
  background: image_url("icon_reporter.png") no-repeat center left
#heading-map
  background: image_url("icon_map.png") no-repeat center left
#heading-users
  background: image_url("icon_users.png") no-repeat center left

// Pretty Table (with clickable rows)

table.standard
  color: $mid-blue
  font-size: 11px
  line-height: 14px
  width: 100%

  thead
    color: $lightest-blue
    font-weight: bold

    th
      padding-top: 12px

      a
        color: $lightest-blue
        display: block
        text-decoration: none
        &:hover, &:focus, &:active
          color: #fff
        &.asc
          background: image_url("active_scaffold/default/arrow_up.gif") no-repeat right center
        &.desc
          background: image_url("active_scaffold/default/arrow_down.gif") no-repeat right center
  tbody tr
    border-spacing: 0

    &.odd
      background: $lightest-blue + #090909
      +linear-gradient(color-stops(white, $lightest-blue + #090909))

  th, td
    padding: 12px 7px 3px
    min-width: 100px

  td
    border-bottom: 1px dashed !light_blue
    vertical-align: middle
    a
      font-size: 12px
      font-weight: bold

// Pretty Table with clickable rows
table.clickable

  tbody tr

    &:hover
      background: $lightest-blue
      +linear-gradient(color-stops($lightest-blue + #090909, $lightest-blue))
      color: $dark-blue
      td
        border-bottom: 1px solid !light_blue

  td:hover
    cursor: pointer

// Pretty Table with rounded thead
// use it when there is no additional heading (for ex. h2)
table.rounded
  th:first-child
    background: $mid-blue !important
    +border-top-left-radius
  th:last-child
    background: $mid-blue !important
    +border-top-right-radius

.breadcrumb
  +border-radius
  +clearfix
  +horizontal-list
  border: 1px dotted $lightest-blue
  font-size: 11px
  margin-top: 7px
  margin-bottom: 4px !important
  padding: 5px

  a
    background: image_url("icon_mark.png") no-repeat right center
    padding-right: 10px

.bordered
  border: 1px solid $lightest-blue
  border-top: none
  margin-bottom: 10px
  +border-bottom-radius
  +clearfix

.pagination
  font-size: 12px
  margin-top: 20px
  span, a
    background: $lightest-blue
    border: 1px solid $light-blue
    display: inline-block
    line-height: 1
    padding: 6px 8px 5px
    text-decoration: none
    +border-radius
    &:hover, &:focus
      background: $light-blue
      border: 1px solid $light-blue
      color: white
  .disabled
    color: #aaa
  .current
    background: $mid-blue
    border: 1px solid $mid-blue
    color: white

.half h2
  clear: both

.edit_user label
  margin-right: 10px
