
=normal_link()
  color= !orange
  background: none
  font-size: 0.8em
  padding-left: 10px
  text-decoration: none
  &:hover
    background: none
    color= !mid-blue
    text-decoration: underline

body.app
  .wrapper
    min-width: 900px
    padding: 0 50px
    position: relative
    
  #header_app
    height: 40px

  /* overriding the shared logo style*/
  #header_app #logo
    font-size: 0.6em
    padding: 10px 0
    position: absolute
    width: 300px
    h1 
      padding-top: 4px
      span
        margin-left: -5px
  /* end */

  /* app main nav styles */
  #main-nav
    background= image_url("bg-blue.jpg")

    a
      color= !lighter-blue
      font-size: 0.8em

    ul
      display: block
      overflow: hidden
      li
        display: block
        &:first-child a
          +border-top-left-radius
        &:last-child a
          +border-top-right-radius
        a
          background: !light-blue
          color: !mid-blue
          display: inline
          float: left
          font-size: 0.75em
          font-weight: bold
          padding: 8px 20px 7px
          text-decoration: none
          text-transform: uppercase
          &:hover
            background: !lightest-blue
            color: !mid-blue

      li.active
        a
          background: white
          color= !dark-blue
          letter-spacing: 0.05em

    img
      float: right
      margin-top: -35px
  /* end */
  
  /* adding properties to the shared flashes styles */
  #flashes
    margin-bottom: -5px
  /* end */
  
  /* adding properties to the shared admin style */
  #admin ul li
    &:first-child a
      +border-bottom-left-radius
    &:last-child a
      +border-bottom-right-radius
  /* end */

  /* sub-nav styles */
  #sub-nav
    +box-shadow(#f0f0f0, 0, 2px, 7px)
    margin: 15px 0 0 0
    ul
      +horizontal-list
      padding: 0 15px 15px 15px
    .active
      a
        background: !orange
        color: white
    a
      +border-radius
      background: !lightest-blue
      color: !mid-blue
      display: inline-block
      font-size: 0.8em
      padding: 7px 10px 6px 10px
      text-decoration: none
      &:hover, &:focus
        background: !mid-blue
        color: white
        
  #page_tips_nav
    float: right
    display: none
    padding: 10px 10px 0 10px
    a
      +normal_link
  /* end */

  #content .wrapper
    margin: 0 50px 15px 50px
    padding: 0 0 20px 0

    #crumbs
      padding: 0 0 0 10px
      overflow: hidden

      ul, a
        color: #999
        font-size: 0.7em

      ul
        float: left

      a
        +border-radius
        color= !mid-blue
        margin-left: 5px
        padding: 5px 7px
        &:hover
          background= !light-blue
          color= !mid-blue
          text-decoration: none
      

    #main
      float: left
      min-width: 600px
      padding: 20px 0 0 15px
      width: 70%

      p
        font-size: 0.8em
        line-height: 1.2em
        +clearfix

      a
        color= !orange
        font-size: 0.8em
        text-decoration: none
        &:hover
          color= !mid-blue
          text-decoration: underline
          
      > a
        padding-left: 10px

      h3
        color= !mid-blue
        font-size: 0.9em
        padding: 10px 0 0 10px

      .next, input[type=submit]
        +border-radius
        border: 1px
        background= !orange
        color: white
        cursor: pointer
        margin-right: -10px
        padding: 9px 15px 7px 15px
        text-decoration: none
        text-transform: uppercase
        &:hover
          background= !mid-blue
          color: white
          text-decoration: none

      .next
        margin-top: -5px
        
      .nav2 a
        font-size: 0.7em

      // fix the tiny AS links.
      table
        .actions
          a
            font-size: 1em

      .link_like
        color: #09c
        cursor: pointer
        float: left

        &:hover
          color: #069
          text-decoration: underline


    .comments
      border-top: 1px dashed #ddd
      margin-top: 10px
      
    a.comments
      border: none

    #desc, #helper, #c-help
      +border-radius
      border: #eee 1px solid
      padding-bottom: 15px
      margin-bottom: 10px

    #desc
      span.close
        float: right
        
      .close
        margin: -25px 10px 0 0
        
    #c-help
      margin: 20px 0
      
    /* default layout for a simple table */
    .simple_table
    
      h3
        margin-bottom: 5px

      table
        background: #eee
        color: !mid-blue
        font-size: 0.8em
        margin: 0 0 20px 10px
        width: 99%

        a
          font-size: 1em

        th, td
          border-right: 1px solid white
          padding: 7px

        tbody 
          th, td
            border-bottom: 1px solid white

          tr:hover
            background: #f9f9f9
          
        thead
          background: !mid-blue
          border-bottom: 1px solid white
          color: white
    /* end */

    #sidebar
      float: right
      min-width: 200px
      padding: 20px 15px 0 0
      width: 25%

      #helper
        a
          color= !orange
          font-size: 0.9em
          text-transform: uppercase
        p
          padding: 10px 10px 0 10px

        #terms, #examples
          a
            color= !mid-blue
            font-size: 0.8em
            font-weight: bold
          p
            margin-bottom: 5px

        #examples
          padding: 0 10px
          font-size: 0.9em

    // google apps style of sub-tabs

    h2, p
      padding: 10px

    h2
      +border-top-radius
      background= !lightest-blue
      color= !mid-blue
      font-size: 0.8em
      letter-spacing: 0.05em

  #content #map_fields_form
    .map_fields
      padding-left: 10px
      margin-bottom: 20px
    tr th
      background: none
      border: none
      padding-right: 20px
    td
      font-size: 0.8em
      padding: 2px 0

  #guide
    h2
      +border-radius
      margin: 10px 0
    h3, h5
      font-weight: bold
    h3, h5, h6
      padding: 20px 0 10px 10px
    h6
      font-style: italic
      text-decoration: underline
    p
      padding: 0 0 10px 10px
    a
      margin-bottom: 10px
    em
      font-style: italic
    ul, ol
      padding-left: 20px
      margin-bottom: 10px
      font-size: 0.8em
      li
        padding-bottom: 5px
    ul li
      list-style-type: disc
      margin-left: 10px
      
/* adding styles for the Submit page */
body#data_responses_review #content .wrapper #main

  



    