#flashes, .flashes
  +border-radius(5px)
  +box-shadow($very-light-grey, 0, 2px, 5px)
  margin: 0 auto
  padding-bottom: 5px
  #success, #notice, #warning, #validation_error, #error, #info, .success, .notice, .warning, .validation_error, .error, .info
    padding: 15px 10px 15px 25px
    background-position: 15px 7px
    background-repeat: no-repeat
    margin-bottom: 5px
  #success, #info, .success, .info
    border-color: #99cc99
    color: #4f8a10
    background-color: #dff2bf
  #notice, .notice
    border-color: #99cc99
    color: #00529b
    background-color: #bde5f8
  #warning, .warning
    border-color: #99cc99
    color: #9f6000
    background-color: #feefb3
  #validation_error, .validation_error
    border-color: #cc9999
    color: #d63301
    background-color: #ffccba
  #error, .error
    border-color: #cc9999
    color: #d8000c
    background-color: #ffbaba
  a:hover
    color: $dark-blue !important

// Inline flash messages on code assignments page
.coding_flash
  +border-radius(5px)
  +box-shadow($very-light-grey, 0, 2px, 5px)
  margin: 0 auto
  padding-bottom: 1em
  width: 75%
  div
    background-position: 15px 7px
    background-repeat: no-repeat
    padding: 15px 10px 15px 25px
    margin-bottom: 5px
    &.error
      background-color: #ffbaba
      border-color: #cc9999
      color: #d8000c
    &.notice
      background-color: #bde5f8
      border-color: #99cc99
      color: #00529b

// DR Settings Page
.errorExplanation
  background-color: #ffccba
  border-color: #cc9999
  color: #d63301
  margin-bottom: 20px
  padding: 10px
  +border-radius(5px)
  +box-shadow($very-light-grey, 0, 2px, 5px)
  p
    font-style: italic
    font-weight: bold
  ul
    font-size: 12px
    list-style: disc
    padding-left: 30px
    li
      margin-bottom: 5px

//Response notification message for Reporter Dashboard
ul.response-notice li
  background: image_url("delete_16.png") #f7f1f0 no-repeat 10px center
  border: 1px solid #f4e8e6
  color: $mid-blue
  font-size: 11px
  margin-bottom: -1px
  padding: 10px 10px 10px 30px
  &:first-child
    +border-top-radius
  &:last-child
    margin: 0
    +border-bottom-radius