body
  #home
    #header
      min-width: 960px
      padding: 0 10%
      height: 110px
      border-bottom= " 3px solid "  !light-blue

      .background
        background= image_url("bg-blue.jpg")
        a
          color= !lighter-blue
          font-size: 0.8em

        .inner
          +column(24, true)
          margin: 0 auto
          width: 960px
          position: relative

          #logo
            background= image_url("Ubuzima.png") "no-repeat left"
            height: 50px
            +column(17)
            margin: 15px 0px 0px

          #admin
            padding-top: 15px
            +column(7,true)

            span.sign_in
              font-size: 11px
              line-height: 22px
              color= !light-blue
              float: right
              a
                font-size: 12px
                -moz-border-radius: 4px 4px 4px 4px
                background= " none repeat scroll 0 0 " !login-nav-blue
                color: #FFFFFF
                margin-left: 4px
                padding: 5px 6px 6px
                text-decoration: none

                &:hover, &:focus
                  background= " none repeat scroll 0 0 " !login-nav-light-blue
          span.quote
            margin: 10px 0px 0px
            +column(24,true)
            color= !light-blue
            font-size: 18px

    #main
      min-width: 960px
      padding: 0 10%

      h3
        font-size: 1.5em
        font-weight: bold
        color= !dark-blue
        padding-bottom: 15px

      p
        padding-bottom: 10px
        line-height: 1.6em

      .about
        -moz-border-radius: 15px 15px 15px 15px
        -moz-box-shadow= " 0 0 0 5px rgba(0, 33, 95, 0.15) inset, 0 5px 5px " !dark-blue
        background: none repeat scroll 0 0 #FFFFFF
        border= "0px 1px 1px 1px solid " !mid-blue
        color: black
        line-height: 1.3
        margin-bottom: 20px
        overflow: hidden
        padding: 30px
        position: relative
        width: 900px
        margin-top: 30px

        .text
          +column(10, true)
          float: right
        .slider
          +column(12)
          float: left


// this is shared with other pages
.sign_in_form
  -moz-border-radius: 15px 15px 15px 15px
  -moz-box-shadow= " 0 0 0 5px rgba(0, 33, 95, 0.15) inset, 0 5px 5px " !dark-blue
  background: none repeat scroll 0 0 #FFFFFF
  border= "0px 1px 1px 1px solid " !mid-blue
  color: black
  line-height: 1.3
  margin-bottom: 20px
  overflow: hidden
  padding: 30px
  position: relative
  width: 600px
  margin-top: 30px
  margin-left: 150px

  h3
    font-size: 1.5em
    font-weight: bold
    color= !dark-blue
    padding-bottom: 15px

  .user_form
    input[type=text],input[type=password]
      width: 98%
      font-size: 1.5em
      max-width: inherit
      padding: 5px 4px
    label
      color: #7A7A7A
      display: block
      font-size: 1.1em
      font-weight: normal
      padding: 0 0 3px
      text-align: left
      vertical-align: middle
    .checkbox
      input[type="checkbox"]
        display: inline
        margin: 0
        vertical-align: middle
      label
        display: inline
        padding: 1px 0 0
        text-align: left
        vertical-align: middle
        width: 350px