/* STYLES EXCLUSIVE TO THE LANDING PAGES
body#landing
  .wrapper
    +clearfix
    margin: 0 auto
    width: 960px
  #header #logo
    img
      height: 50px
      margin: -2px 7px 0 0
      width: 46px
  /* adding properties to the shared admin style
  #admin ul li
    &:first-child a
      +border-bottom-left-radius
    &:last-child a
      +border-bottom-right-radius
  /* end
  #content
    color: black
    line-height: 1.3
    margin-bottom: 20px
    .slider
      float: left
      margin: 30px 20px 15px 30px
      #s3slider
        span.top
          font-size: 1em
          line-height: 1.2em
    .text
      margin: 45px 30px 30px 0
      h3
        font-size: 1.1em
      p
        font-size: 0.85em
        margin: 15px 0
    #browsers
      background: #f9f9f9
      border: 1px solid $very-light-grey
      float: left
      margin-left: 30px
      margin-bottom: 30px
      padding: 20px 20px 15px
      +border-radius
      +clearfix
      ul
        +horizontal-list
        li
          width: 35px
        img
          width: 100%
      h2
        color: #555555
        font-size: 0.8em
        margin-bottom: 7px
        text-transform: none
