/* STYLES SHARED BETWEEN ALL PAGES */
body
  background= image_url("bg-white.jpg")
  font-family: sans-serif

  /* shared heading styles */
  h1, h2, h3, h4, h5, h6
    font-weight: bold

  h2, h3, h4, h5, h6
    font-weight: bold
    text-transform: uppercase

  /* universal float right class */
  .left
    float: left

  /* universal float right class */
  .right
    float: right

  /* shared content>wrapper styles */
  #content .wrapper
    +border-bottom-radius
    +clearfix
    background: white
    margin: 0 auto
    padding: 0 10px

  /* shared header styles */
  #header, #header_app
    background: image_url("bg-blue.jpg")
    color: $lightest-blue
    +pie-clearfix

    #logo
      float: left
      padding: 45px 0 35px
      width: 400px
      +text-shadow(#222, 0, 0, 15px)
      img
        float: left
      h1
        color: orange
        font-size: 2em
        padding: 7px 0 0
        margin: 0

        span
          margin-left: -8px
          padding: 0
          color: !lightest-blue

        span.mu
          color: !light-blue
          font-size: 0.6em
          margin-left: 0
          text-transform: none
      p
        color: !light-blue
        font-size: 0.6em
        letter-spacing: 0.02em
        padding-left: 55px
        text-transform: uppercase
    .right
      margin-top: 9px
    #admin
      float: right
      font-family: 'Avenir'
      width: 550px

      span
        color: $light-blue
        font-size: 11px
        float: right
        padding-top: 14px
        letter-spacing: 1px
        padding-right: 10px
        +text-shadow(#111, 0, 1px, 1px)


      ul
        +horizontal-list
        border: 1px solid $dark-blue
        float: right
        +box-shadow(rgba(0, 0, 0, 0.2), 0, 2px, 2px)
        +border-radius(6px)

        li

          padding: 0

          &:first-child
            a
              +border-left-radius
              border-right: 1px solid $dark-blue
          &:last-child
            border-left: 1px solid $mid-blue
            a
              +border-right-radius
              border-left: 1px solid $dark-blue

          a
            background: $dark-blue
            border-top: 1px solid $mid-blue + #222
            color: $light-blue
            display: inline-block
            float: left
            font-size: 11px
            height: 14px
            padding: 11px 12px 12px
            text-decoration: none
            +linear-gradient(color-stops($mid-blue, $dark-blue))
            +text-shadow(#111, 0, 1px, 1px)
            img
              margin: 0 2px -2px 0
            &:hover, &:focus
              background: $mid-blue
              color: #fff
            &.signin
              text-transform: uppercase
              img
                margin-bottom: -5px

    #tagline
      float: right
      padding-top: 50px
      padding-bottom: 10px
      text-align: right
      width: 400px
      +text-shadow(#444, 0, 0, 15px)

      h2
        color: !light-blue
        font-size: 1em
        padding-bottom: 2px

      h6
        color: orange
        font-family: Arial, Helvetica Neu, sans-serif
        font-size: 0.6em
        font-weight: normal
        letter-spacing: 0.1em



  /* warning text */
  p.warning
    border: 1px solid red
    color: red
  /* end */

  /* bordered paragraph style */
  p.borderful
    border: 1px solid !lightest-blue
    color: !mid-blue
    margin-bottom: 20px
  /* end */

  .borderless
    border: none !important

  /* shared footer styles */
  #footer
    color: !mid-blue
    font-size: 11px
    text-align: center
    text-transform: uppercase
    +pie-clearfix

    ul
      line-height: 16px
      +horizontal-list
      margin-bottom: 10px

      li
        padding-top: 6px

      li.powered
        font-size: 11px
        text-transform: none

    h2.logo
      color: !dark-blue
      font-size: 13px
    h2.left
      left: 2px
      margin-right: 2px
      position: relative
      top: 3px

    .version
      color: black
      text-transform: none

    .left
      float: left
      h2
        display: inline-block
      img
        margin-bottom: -5px

    a
      color: !mid-blue
      padding-right: 10px
      text-decoration: none
      &:hover, &:focus
        color: orange

  .wrapper > .full-width
    padding: 5px 15px 0

  .like_a_h2
    font-size: 12px

.wrap-80
  float: left
  margin-right: 1%
  width: 78%
  +pie-clearfix

.wrap-70
  float: left
  margin-right: 2%
  width: 68%
  +pie-clearfix

.wrap-30
  float: left
  width: 25%
  +pie-clearfix

.wrap-10
  width: 8%

h3.title_bar
  background: image_url("bg-blue.jpg")
  color: #fff !important
  margin-top: 5px
  padding: 10px 10px 7px !important
  +border-top-radius(3px)

hr
  border: none
  border-top: 3px solid $lightest-blue

.clearfix
  +pie-clearfix

.marginless
  margin: 0 !important