%h1.main_heading New data request

= error_messages_for :data_request, :header_message  => nil, :message => "Oops, we couldn't save your changes."

%h2 Enter data request information
.dashboard_section
  = render :partial => 'form'
