/*
Syntax error: Undefined mixin 'border-radius'.
        on line 11 of /home/dalibor/projects/siyelo/resource_tracking/app/stylesheets/partials/_flashes.sass, in `border-radius'
        from line 11 of /home/dalibor/projects/siyelo/resource_tracking/app/stylesheets/partials/_flashes.sass
        from line 5 of /home/dalibor/projects/siyelo/resource_tracking/app/stylesheets/screen.sass

6: 
7: // UNUSED (not recommended)
8: //@import partials/page
9: //@import partials/two_col
10: 
11: // PROMO site (static pages)
12: @import partials/promo
13: @import partials/promo_landing
14: @import partials/promo_inner
15: 
16: // REPORTER screens

Backtrace:
/home/dalibor/projects/siyelo/resource_tracking/app/stylesheets/partials/_flashes.sass:11:in `border-radius'
/home/dalibor/projects/siyelo/resource_tracking/app/stylesheets/partials/_flashes.sass:11
/home/dalibor/projects/siyelo/resource_tracking/app/stylesheets/screen.sass:5
/home/dalibor/.rvm/gems/ruby-1.8.7-p299@resource_tracking_non_ree/gems/haml-3.0.25/lib/sass/tree/mixin_node.rb:62:in `perform!'
/home/dalibor/.rvm/gems/ruby-1.8.7-p299@resource_tracking_non_ree/gems/haml-3.0.25/lib/sass/tree/node.rb:305:in `_perform'
/home/dalibor/.rvm/gems/ruby-1.8.7-p299@resource_tracking_non_ree/gems/haml-3.0.25/lib/sass/tree/node.rb:213:in `perform'
/home/dalibor/.rvm/gems/ruby-1.8.7-p299@resource_tracking_non_ree/gems/haml-3.0.25/lib/sass/tree/node.rb:327:in `perform_children'
/home/dalibor/.rvm/gems/ruby-1.8.7-p299@resource_tracking_non_ree/gems/haml-3.0.25/lib/sass/tree/node.rb:327:in `map'
/home/dalibor/.rvm/gems/ruby-1.8.7-p299@resource_tracking_non_ree/gems/haml-3.0.25/lib/sass/tree/node.rb:327:in `perform_children'
/home/dalibor/.rvm/gems/ruby-1.8.7-p299@resource_tracking_non_ree/gems/haml-3.0.25/lib/sass/tree/node.rb:317:in `perform!'
/home/dalibor/.rvm/gems/ruby-1.8.7-p299@resource_tracking_non_ree/gems/haml-3.0.25/lib/sass/tree/rule_node.rb:191:in `perform!'
/home/dalibor/.rvm/gems/ruby-1.8.7-p299@resource_tracking_non_ree/gems/haml-3.0.25/lib/sass/tree/node.rb:305:in `_perform'
/home/dalibor/.rvm/gems/ruby-1.8.7-p299@resource_tracking_non_ree/gems/haml-3.0.25/lib/sass/tree/node.rb:213:in `perform'
/home/dalibor/.rvm/gems/ruby-1.8.7-p299@resource_tracking_non_ree/gems/haml-3.0.25/lib/sass/tree/node.rb:327:in `perform_children'
/home/dalibor/.rvm/gems/ruby-1.8.7-p299@resource_tracking_non_ree/gems/haml-3.0.25/lib/sass/tree/node.rb:327:in `map'
/home/dalibor/.rvm/gems/ruby-1.8.7-p299@resource_tracking_non_ree/gems/haml-3.0.25/lib/sass/tree/node.rb:327:in `perform_children'
/home/dalibor/.rvm/gems/ruby-1.8.7-p299@resource_tracking_non_ree/gems/haml-3.0.25/lib/sass/tree/node.rb:317:in `perform!'
/home/dalibor/.rvm/gems/ruby-1.8.7-p299@resource_tracking_non_ree/gems/haml-3.0.25/lib/sass/tree/rule_node.rb:191:in `perform!'
/home/dalibor/.rvm/gems/ruby-1.8.7-p299@resource_tracking_non_ree/gems/haml-3.0.25/lib/sass/tree/node.rb:305:in `_perform'
/home/dalibor/.rvm/gems/ruby-1.8.7-p299@resource_tracking_non_ree/gems/haml-3.0.25/lib/sass/tree/node.rb:213:in `perform'
/home/dalibor/.rvm/gems/ruby-1.8.7-p299@resource_tracking_non_ree/gems/haml-3.0.25/lib/sass/tree/node.rb:327:in `perform_children'
/home/dalibor/.rvm/gems/ruby-1.8.7-p299@resource_tracking_non_ree/gems/haml-3.0.25/lib/sass/tree/node.rb:327:in `map'
/home/dalibor/.rvm/gems/ruby-1.8.7-p299@resource_tracking_non_ree/gems/haml-3.0.25/lib/sass/tree/node.rb:327:in `perform_children'
/home/dalibor/.rvm/gems/ruby-1.8.7-p299@resource_tracking_non_ree/gems/haml-3.0.25/lib/sass/tree/import_node.rb:78:in `perform!'
/home/dalibor/.rvm/gems/ruby-1.8.7-p299@resource_tracking_non_ree/gems/haml-3.0.25/lib/sass/tree/node.rb:305:in `_perform'
/home/dalibor/.rvm/gems/ruby-1.8.7-p299@resource_tracking_non_ree/gems/haml-3.0.25/lib/sass/tree/import_node.rb:64:in `_perform'
/home/dalibor/.rvm/gems/ruby-1.8.7-p299@resource_tracking_non_ree/gems/haml-3.0.25/lib/sass/tree/node.rb:213:in `perform'
/home/dalibor/.rvm/gems/ruby-1.8.7-p299@resource_tracking_non_ree/gems/haml-3.0.25/lib/sass/tree/root_node.rb:37:in `perform'
/home/dalibor/.rvm/gems/ruby-1.8.7-p299@resource_tracking_non_ree/gems/haml-3.0.25/lib/sass/tree/node.rb:327:in `perform_children'
/home/dalibor/.rvm/gems/ruby-1.8.7-p299@resource_tracking_non_ree/gems/haml-3.0.25/lib/sass/tree/node.rb:327:in `map'
/home/dalibor/.rvm/gems/ruby-1.8.7-p299@resource_tracking_non_ree/gems/haml-3.0.25/lib/sass/tree/node.rb:327:in `perform_children'
/home/dalibor/.rvm/gems/ruby-1.8.7-p299@resource_tracking_non_ree/gems/haml-3.0.25/lib/sass/tree/node.rb:317:in `perform!'
/home/dalibor/.rvm/gems/ruby-1.8.7-p299@resource_tracking_non_ree/gems/haml-3.0.25/lib/sass/tree/root_node.rb:59:in `perform!'
/home/dalibor/.rvm/gems/ruby-1.8.7-p299@resource_tracking_non_ree/gems/haml-3.0.25/lib/sass/tree/node.rb:305:in `_perform'
/home/dalibor/.rvm/gems/ruby-1.8.7-p299@resource_tracking_non_ree/gems/haml-3.0.25/lib/sass/tree/node.rb:213:in `perform'
/home/dalibor/.rvm/gems/ruby-1.8.7-p299@resource_tracking_non_ree/gems/haml-3.0.25/lib/sass/tree/root_node.rb:37:in `perform'
/home/dalibor/.rvm/gems/ruby-1.8.7-p299@resource_tracking_non_ree/gems/haml-3.0.25/lib/sass/tree/root_node.rb:29:in `render'
/home/dalibor/.rvm/gems/ruby-1.8.7-p299@resource_tracking_non_ree/gems/haml-3.0.25/lib/sass/plugin.rb:223:in `update_stylesheet'
/home/dalibor/.rvm/gems/ruby-1.8.7-p299@resource_tracking_non_ree/gems/haml-3.0.25/lib/sass/plugin.rb:88:in `update_stylesheets'
/home/dalibor/.rvm/gems/ruby-1.8.7-p299@resource_tracking_non_ree/gems/haml-3.0.25/lib/sass/plugin.rb:81:in `each'
/home/dalibor/.rvm/gems/ruby-1.8.7-p299@resource_tracking_non_ree/gems/haml-3.0.25/lib/sass/plugin.rb:81:in `update_stylesheets'
/home/dalibor/.rvm/gems/ruby-1.8.7-p299@resource_tracking_non_ree/gems/haml-3.0.25/lib/sass/plugin.rb:79:in `each'
/home/dalibor/.rvm/gems/ruby-1.8.7-p299@resource_tracking_non_ree/gems/haml-3.0.25/lib/sass/plugin.rb:79:in `update_stylesheets'
/home/dalibor/.rvm/gems/ruby-1.8.7-p299@resource_tracking_non_ree/gems/haml-3.0.25/lib/sass/plugin.rb:50:in `check_for_updates'
/home/dalibor/.rvm/gems/ruby-1.8.7-p299@resource_tracking_non_ree/gems/haml-3.0.25/lib/sass/plugin/rack.rb:40:in `call'
/home/dalibor/.rvm/gems/ruby-1.8.7-p299@resource_tracking_non_ree/gems/actionpack-3.0.7/lib/action_dispatch/middleware/best_standards_support.rb:17:in `call'
/home/dalibor/.rvm/gems/ruby-1.8.7-p299@resource_tracking_non_ree/gems/actionpack-3.0.7/lib/action_dispatch/middleware/head.rb:14:in `call'
/home/dalibor/.rvm/gems/ruby-1.8.7-p299@resource_tracking_non_ree/gems/rack-1.2.2/lib/rack/methodoverride.rb:24:in `call'
/home/dalibor/.rvm/gems/ruby-1.8.7-p299@resource_tracking_non_ree/gems/actionpack-3.0.7/lib/action_dispatch/middleware/params_parser.rb:21:in `call'
/home/dalibor/.rvm/gems/ruby-1.8.7-p299@resource_tracking_non_ree/gems/actionpack-3.0.7/lib/action_dispatch/middleware/flash.rb:182:in `call'
/home/dalibor/.rvm/gems/ruby-1.8.7-p299@resource_tracking_non_ree/gems/actionpack-3.0.7/lib/action_dispatch/middleware/session/abstract_store.rb:149:in `call'
/home/dalibor/.rvm/gems/ruby-1.8.7-p299@resource_tracking_non_ree/gems/actionpack-3.0.7/lib/action_dispatch/middleware/cookies.rb:302:in `call'
/home/dalibor/.rvm/gems/ruby-1.8.7-p299@resource_tracking_non_ree/gems/activerecord-3.0.7/lib/active_record/query_cache.rb:32:in `call'
/home/dalibor/.rvm/gems/ruby-1.8.7-p299@resource_tracking_non_ree/gems/activerecord-3.0.7/lib/active_record/connection_adapters/abstract/query_cache.rb:28:in `cache'
/home/dalibor/.rvm/gems/ruby-1.8.7-p299@resource_tracking_non_ree/gems/activerecord-3.0.7/lib/active_record/query_cache.rb:12:in `cache'
/home/dalibor/.rvm/gems/ruby-1.8.7-p299@resource_tracking_non_ree/gems/activerecord-3.0.7/lib/active_record/query_cache.rb:31:in `call'
/home/dalibor/.rvm/gems/ruby-1.8.7-p299@resource_tracking_non_ree/gems/activerecord-3.0.7/lib/active_record/connection_adapters/abstract/connection_pool.rb:354:in `call'
/home/dalibor/.rvm/gems/ruby-1.8.7-p299@resource_tracking_non_ree/gems/actionpack-3.0.7/lib/action_dispatch/middleware/callbacks.rb:46:in `call'
/home/dalibor/.rvm/gems/ruby-1.8.7-p299@resource_tracking_non_ree/gems/activesupport-3.0.7/lib/active_support/callbacks.rb:416:in `_run_call_callbacks'
/home/dalibor/.rvm/gems/ruby-1.8.7-p299@resource_tracking_non_ree/gems/actionpack-3.0.7/lib/action_dispatch/middleware/callbacks.rb:44:in `call'
/home/dalibor/.rvm/gems/ruby-1.8.7-p299@resource_tracking_non_ree/gems/rack-1.2.2/lib/rack/sendfile.rb:107:in `call'
/home/dalibor/.rvm/gems/ruby-1.8.7-p299@resource_tracking_non_ree/gems/actionpack-3.0.7/lib/action_dispatch/middleware/remote_ip.rb:48:in `call'
/home/dalibor/.rvm/gems/ruby-1.8.7-p299@resource_tracking_non_ree/gems/actionpack-3.0.7/lib/action_dispatch/middleware/show_exceptions.rb:47:in `call'
/home/dalibor/.rvm/gems/ruby-1.8.7-p299@resource_tracking_non_ree/gems/railties-3.0.7/lib/rails/rack/logger.rb:13:in `call'
/home/dalibor/.rvm/gems/ruby-1.8.7-p299@resource_tracking_non_ree/gems/rack-1.2.2/lib/rack/runtime.rb:17:in `call'
/home/dalibor/.rvm/gems/ruby-1.8.7-p299@resource_tracking_non_ree/gems/activesupport-3.0.7/lib/active_support/cache/strategy/local_cache.rb:72:in `call'
/home/dalibor/.rvm/gems/ruby-1.8.7-p299@resource_tracking_non_ree/gems/rack-1.2.2/lib/rack/lock.rb:11:in `call'
/home/dalibor/.rvm/gems/ruby-1.8.7-p299@resource_tracking_non_ree/gems/rack-1.2.2/lib/rack/lock.rb:11:in `synchronize'
/home/dalibor/.rvm/gems/ruby-1.8.7-p299@resource_tracking_non_ree/gems/rack-1.2.2/lib/rack/lock.rb:11:in `call'
/home/dalibor/.rvm/gems/ruby-1.8.7-p299@resource_tracking_non_ree/gems/actionpack-3.0.7/lib/action_dispatch/middleware/static.rb:30:in `call'
/home/dalibor/.rvm/gems/ruby-1.8.7-p299@resource_tracking_non_ree/gems/hoptoad_notifier-2.4.9/lib/hoptoad_notifier/user_informer.rb:12:in `call'
/home/dalibor/.rvm/gems/ruby-1.8.7-p299@resource_tracking_non_ree/gems/railties-3.0.7/lib/rails/application.rb:168:in `call'
/home/dalibor/.rvm/gems/ruby-1.8.7-p299@resource_tracking_non_ree/gems/railties-3.0.7/lib/rails/application.rb:77:in `send'
/home/dalibor/.rvm/gems/ruby-1.8.7-p299@resource_tracking_non_ree/gems/railties-3.0.7/lib/rails/application.rb:77:in `method_missing'
/home/dalibor/.rvm/gems/ruby-1.8.7-p299@resource_tracking_non_ree/gems/railties-3.0.7/lib/rails/rack/log_tailer.rb:14:in `call'
/home/dalibor/.rvm/gems/ruby-1.8.7-p299@resource_tracking_non_ree/gems/rack-1.2.2/lib/rack/content_length.rb:13:in `call'
/home/dalibor/.rvm/gems/ruby-1.8.7-p299@resource_tracking_non_ree/gems/rack-1.2.2/lib/rack/chunked.rb:15:in `call'
/home/dalibor/.rvm/gems/ruby-1.8.7-p299@resource_tracking_non_ree/gems/rack-1.2.2/lib/rack/handler/mongrel.rb:67:in `process'
/home/dalibor/.rvm/gems/ruby-1.8.7-p299@resource_tracking_non_ree/gems/mongrel-1.1.5/lib/mongrel.rb:159:in `process_client'
/home/dalibor/.rvm/gems/ruby-1.8.7-p299@resource_tracking_non_ree/gems/mongrel-1.1.5/lib/mongrel.rb:158:in `each'
/home/dalibor/.rvm/gems/ruby-1.8.7-p299@resource_tracking_non_ree/gems/mongrel-1.1.5/lib/mongrel.rb:158:in `process_client'
/home/dalibor/.rvm/gems/ruby-1.8.7-p299@resource_tracking_non_ree/gems/mongrel-1.1.5/lib/mongrel.rb:285:in `run'
/home/dalibor/.rvm/gems/ruby-1.8.7-p299@resource_tracking_non_ree/gems/mongrel-1.1.5/lib/mongrel.rb:285:in `initialize'
/home/dalibor/.rvm/gems/ruby-1.8.7-p299@resource_tracking_non_ree/gems/mongrel-1.1.5/lib/mongrel.rb:285:in `new'
/home/dalibor/.rvm/gems/ruby-1.8.7-p299@resource_tracking_non_ree/gems/mongrel-1.1.5/lib/mongrel.rb:285:in `run'
/home/dalibor/.rvm/gems/ruby-1.8.7-p299@resource_tracking_non_ree/gems/mongrel-1.1.5/lib/mongrel.rb:268:in `initialize'
/home/dalibor/.rvm/gems/ruby-1.8.7-p299@resource_tracking_non_ree/gems/mongrel-1.1.5/lib/mongrel.rb:268:in `new'
/home/dalibor/.rvm/gems/ruby-1.8.7-p299@resource_tracking_non_ree/gems/mongrel-1.1.5/lib/mongrel.rb:268:in `run'
/home/dalibor/.rvm/gems/ruby-1.8.7-p299@resource_tracking_non_ree/gems/rack-1.2.2/lib/rack/handler/mongrel.rb:38:in `run'
/home/dalibor/.rvm/gems/ruby-1.8.7-p299@resource_tracking_non_ree/gems/rack-1.2.2/lib/rack/server.rb:213:in `start'
/home/dalibor/.rvm/gems/ruby-1.8.7-p299@resource_tracking_non_ree/gems/railties-3.0.7/lib/rails/commands/server.rb:65:in `start'
/home/dalibor/.rvm/gems/ruby-1.8.7-p299@resource_tracking_non_ree/gems/railties-3.0.7/lib/rails/commands.rb:30
/home/dalibor/.rvm/gems/ruby-1.8.7-p299@resource_tracking_non_ree/gems/railties-3.0.7/lib/rails/commands.rb:27:in `tap'
/home/dalibor/.rvm/gems/ruby-1.8.7-p299@resource_tracking_non_ree/gems/railties-3.0.7/lib/rails/commands.rb:27
script/rails:6:in `require'
script/rails:6
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined mixin 'border-radius'.\A         on line 11 of /home/dalibor/projects/siyelo/resource_tracking/app/stylesheets/partials/_flashes.sass, in `border-radius'\A         from line 11 of /home/dalibor/projects/siyelo/resource_tracking/app/stylesheets/partials/_flashes.sass\A         from line 5 of /home/dalibor/projects/siyelo/resource_tracking/app/stylesheets/screen.sass\A \A 6: \A 7: // UNUSED (not recommended)\A 8: //@import partials/page\A 9: //@import partials/two_col\A 10: \A 11: // PROMO site (static pages)\A 12: @import partials/promo\A 13: @import partials/promo_landing\A 14: @import partials/promo_inner\A 15: \A 16: // REPORTER screens"; }
