#header { width: 980px; margin: 0 auto; }
#banner { float: left; margin-right: 0px; width: 590px; }
#top_spacer { float: left; margin-right: 10px; width: 30px; }
#login { float: right; margin-right: 10px; width: 270px; margin-right: 0; right:auto;}
#main { width: 950px; margin: 0 auto;}
#left_side_bar { float: left; margin-right: 10px; width: 160px; }
#content { float: left; margin-right: 10px; width: 770px; margin-right: 0;  auto;}
#bottom { width: 950px; margin: 0 auto; }
#footer { float: center; margin-right: 10px; margin-right: 0; width: 940px; } 
