-# Todo - move to a controller action

- front = "data.addRows([ "
- data_rows = ["['All Codes',null,0,0]"]

- codes = Nsp.all
- roots = Nsp.roots

- new_data_rows = Code.treemap_for_codes(roots, codes, "CodingBudget", @data_response.activities)
//- codings = CodingBudget.with_code_ids(codes).with_activities(@data_response.activities).all.map_to_hash{ |b| {b.code_id => b} }
//
//- codes.each do |code|
//  -# ignore parents of a different type
//  - parent = roots.include?(code) ? 'All Codes' : code.parent.short_display
// - amount = codings[code.id].nil? ? 0 : codings[code.id].calculated_amount
//  - data_rows << code.treemap_row_for( code.short_display, parent, amount, code.level)
//
//-# strip last comma
//- data_rows = data_rows.join(",\r")
//- data_rows = front + data_rows + "  ]); "

= render '/shared/data_responses/charts/tree_map', :data_rows => new_data_rows, :chart_id => chart_id, :chart_name => 'nsp_budget_tree'
