:javascript
  function draw_#{chart_name}() {
      // Create and populate the data table.
      var data = new google.visualization.DataTable();
      data.addColumn('string', 'Code');
      data.addColumn('string', 'Parent');
      data.addColumn('number', 'Market trade volume (size)');
      data.addColumn('number', 'Market increase/decrease (color)');
      #{data_rows}

      // Create and draw the visualization.
      var tree = new google.visualization.TreeMap(document.getElementById('#{chart_id}'));
      tree.draw(data, {
        minColor: '#99ccff',
        midColor: '#6699cc',
        maxColor: '#336699',
        headerHeight: 15,
        fontColor: 'black',
        showScale: false});
  }
