-title "New Profile Registration"

.sign_in_form
  %h3
    Please select a password
  %p.hint Welcome to the Health Resource Tracker. Please enter a password for your new account, and we'll send you right along.
  %br

  - semantic_form_for @user, :url => registration_path(:invite_token => params[:invite_token]) do |f|
    - f.inputs do
      = f.input :password, :value => nil, :input_html => { :autocomplete => "off" }
      = f.input :password_confirmation, :input_html => { :autocomplete => "off" }

    - f.buttons do
      = f.commit_button "Save", :class => "last"

