-title "New Profile Registration"


.sign_in_form.center
  %h2.welcome
    Welcome to the
    %br Health Resource Tracker
  %h3 Please select a password
    
  - semantic_form_for @user, :url => registration_path(:invite_token => params[:invite_token]) do |f|
    - f.inputs do
      %ul
        = f.input :password, :value => nil
        = f.input :password_confirmation
    
    - f.buttons do
      = f.commit_button "Save", :class => "last", :button_html => {:class => "create_alt"}
