%table#activity_description
  %tr
    %td.title Name:
    %td= @activity.name
  %tr
    %td.title Total Budget for FY 10-11:
    %td= @activity.budget
  %tr
    %td.title Total Expenditures for FY 09-10:
    %td= @activity.spend
  %tr
    %td.title Description:
    %td= @activity.description
