- if can? :approve, activity
  = label_tag "Approved?"
  = check_box_tag 'approve_activity', true, activity.approved, :class => "approve_activity", :"data-id" => activity.id, :"data-response_id" => activity.data_response.id
