%a{:href => "#", :class => 'overlay', :rel => "#help_overlay"}
  = image_tag 'overlay.png'
  Whats this?


#help_overlay.simple_overlay

  %h3 Whoa, what's all this?
  %p Rather than asking you to create lots of projects and activities, HRT allows you to split each of your Activities across several 'dimensions'. For example, your Activity might have one Purpose, or it might have many. This screen allows you to split your Activity accordingly.

  %h3 What are Health Functions?
  %p Health Functions in HRT are a quick and unified way of classifying Activities.
  %p They allow you very simply add all the detail needed for National Health Accounts (NHA), National AIDS Expenditure Assessments (NASA), Medium Term Past Expenditure Frameworks (MTEF), National Strategic Plans (NSP) etc.
  %p You do not need to enter all the different NHA/NASA/MTEF 'codes' for your Activity. Instead, the HRT will use the Health Functions you entered to work this out for you.
  %p You can assign a single Health Functions, or multiple Health Functions, depending on the size and complexity of your Activity.

  %h3 What are Inputs?
  %p

    Read more on our
    = link_to "Activity splits & classifications FAQ", "https://hrtapp.tenderapp.com/search?t=f&q=split", :target => '_blank'
