%tr
  %td Overall Classification progress:
  %td
    .progress-container
      - style = coding_progress_style(activity.coding_progress)
      %div{:style => style}
    = "#{activity.coding_progress}%"
    = link_to "?", "#", :title => 'Indicates the completeness of your Budget & Spending classifications for this activity. A full green bar indicates completion. You will need to enter classifications for each of the tabs.', :class => "tooltip"
