%li
  %span.left Overall progress:
  .progress-container
    - style = coding_progress_style(activity.coding_progress)
    %div{:style => style}
  = "#{activity.coding_progress}%"
  = link_to "?", "#", :title => 'Indicates the completeness of your Budget & Expenditure classifications for this activity. A full green bar indicates completion. You will need to enter classifications for each of the tabs.', :class => "tooltip info"
