- unless codes.empty?

  - if @coding_error
    #coding_flash
      %div.error
        = @coding_error

  - form_for activity, :url => activity_coding_path(activity, :coding_type => coding_type), :method => :put, :html => {:id => ''} do |form|
    %ul.activity_tree
      - codes.each do |code|
        = render 'code_row', { :code => code, :form => form, :tab => tab }
    = submit_tag 'Save'

= render 'shared/data_entry_help', :record_type => CodeAssignment
