
%h2 Activity Breakdown


- @activities.each do |activity|
  %h3= activity.name

  %table
    %thead.header
      %tr
        %th.actions= 'Actions'
    %tbody.items.resources
      - activity.code_assignments.each do |assignment|
        = render 'item', :assignment => assignment

-#= will_paginate(collection)