- content_for :head do
  = javascript_include_tag 'jquery.collapsibleCheckboxTree', :cache => true
  = stylesheet_link_tag 'compiled/code_tree', :media => 'screen'

  :javascript
    jQuery(document).ready(function(){
      jQuery('ul#activity_tree').collapsibleCheckboxTree();
    });

%h2 Activity Breakdown

- form_for @activity.code_assignments, :url => update_code_assignments_path, :method => :post do |form|
  %ul#activity_tree
    %li.activity
      = @activity.name
      %ul{:id => @activity.id}
        - Code.roots.each do |code|
          = render :partial => 'code_row', :locals => {:code => code, :form => form}