.add_organization{:style => "display: none;"}
  = label_tag :organization_name, "From"
  = text_field_tag :organization_name, '', :class => 'organization_name'
  = link_to "Create Organization", organizations_path, :class => 'add_organization_link create_button'
  = link_to "Cancel", "#", :class => 'cancel_organization_link create_button'