.full_width
  - unless params[:controller] == 'projects'
    %h3 Add comment
    = render 'comments/form', :comment => @comment
  %ul
    - comments.each do |comment|
      = render 'comments/comment', :comment => comment

