.full_width
  %h2 Comments
  .dashboard_section.comments_input
    - unless (params[:controller] == 'projects' && params[:action] == 'index')
      = render 'comments/form', :comment => @comment
  %ul.comments_list
    - comments.each do |comment|
      = render 'comments/comment', :comment => comment

