  <% content_for :breadcrumbs do %>
    <% #todo put breadcrumbs here that while until get to this record type 
    %> 
    breadcrumbs
  <% end %>
<p>
  <% #todo put csv-file-uploading-here , also switch to jquery for toggling
%>
<a href="#file_upload" onClick="$('file_upload').toggle();"; >csv uploading</a>
<div id="file_upload">
  <script> $('file_upload').hide() </script>
  file upload goes here
</div>
</p>
<%= render :active_scaffold => record_underscored_name,
  :constraints => { } %>
<%= link_to "Next", next_workflow_path(record_type)  %>
<%= render :partial => 'shared/data_entry_help' , :locals => {:record_type => record_type}%>
