<% if params[:action] == "table" #makes render component not show xtra stuff
%>
  <%= grid %>
<% else %>

  <% human_plural_name_for_entity ||= record_type.human_name.pluralize.downcase %>
  <p>
  <%= render :partial => 'shared/upload_and_export',
    :locals => {
      :record_type => record_type, 
      :human_plural_name_for_entity => human_plural_name_for_entity } %>
  </p>
  <%= grid %>

  <%= render :partial => 'shared/data_entry_help',
    :locals => { :record_type => record_type } %>
<% end %>
