<% content_for :left_side_bar do %>
  <p>Terms</p>
    <ul>
      <li>Term y</li>
      <li>Term y</li>
    </ul>
    <p>Examples</p>
    <ul>
      <li>Example y</li>
      <li>Example y</li>
    </ul>
  </ul>
<% end %>

<% content_for :page_help do %>
test_page
<% end %>

<% content_for :right_side_bar do %>
<% end %>

<% content_for :comments do %>
    <ul>
      <li>Comment y</li>
      <li>Comment y</li>
    </ul>
  
<% end %>
