<a href="#" onClick="$('file_export').toggle();"; >
  Export <%=record_type.human_name.pluralize.downcase%> to a file
</a>
<div id="file_export">
  <script> $('file_export').hide() </script>
  file export form will go here
</div>
