- content_for :page_help do
  = render '/shared/page_help'


- content_for :side_bar do
  :javascript
    jQuery('#sidebar').show()
  %h2 Help
  %p.title= link_to 'Field Definitions', '#',  :onclick => "$('terms').toggle();"
  #terms
    :javascript
      $('terms').hide();
    - if @model_help.field_help.size > 0
      = render :partial => @model_help.field_help
    - else
      %p No help for these fields has been entered yet.
