%ul
  %li{:class => (params[:controller] == 'projects' && params[:action] == 'index' ? 'active' : nil)}
    = link_to 'Overview', response_projects_path(current_or_last_response)
  %li{:class => (params[:controller] == 'responses' && params[:action] == 'submit' ? 'active' : nil)}
    = link_to 'Review & Submit', submit_response_path(current_or_last_response)
