<%= render :partial => 'shared/collapsible_upload_file_for_create', 
  :locals => {:record_type => record_type } %>
</p>

<p>
<%= render :partial => 'shared/export_to_file',
  :locals => {:record_type => record_type } %>
</p>
