<% if true #TODO user has correct role to create
 %>

  <p>Create one or more <%=human_plural_name_for_entity%> from a file.</p>

  <% form_tag ({:action=> :create_from_file}, :multipart => true) do %>
    <p>
    <%= label_tag :file, "File" %>
    <%= file_field_tag :file %>
    <%= submit_tag "Upload from File" %>
    </p>
  <% end %>

<% end %>
