- if current_user.tips_shown
  #gs_container
    #getting_started_title
      %h2= "Getting started with Implementers"
      = render :partial => 'shared/tips_hide'
    .getting_started
      .message
        %p Enter the Implementers you work with.
        %ul.bulleted
          %li Add one or more implementers for each activity
          %li Indicate the proportion of the Activity Current Expenditure and/or Budget you allocated to them.
        %p
          There is great
          = link_to "online help", help_link, :target => "_blank"
          in HRT and you can always
          = link_to "contact the Support Team", contact_link, :target => "_blank"
          at anytime to ask us a question.
