- if current_user.tips_shown
  #gs_container
    #getting_started_title
      %h2= "Getting started with Health Functions"
      = render :partial => 'shared/tips_hide'
    .getting_started
      .message
        %p Show the Health Function(s) for the Activity
        %ul.bulleted
          %li Show the Health Function(s) for the Activity. The more specific the Purposes you enter, the easier it will be to generate reports for you!
          %li Use the Add Purpose button and browsing widget to select a Health Function
          %li Enter Past Expenditure and/or Budget for that Health Function
          %li Press Save to save allocations for that Activity
          %li If your Activities are more complex, you can add as much detail as you like with more Health Functions etc.
