<div id="chart"></div>

<%= Seer::visualize(
      @projects,
      :as => :column_chart,
      :in_element => 'chart',
      :series => {:series_label => 'name', :data_method => 'budget'},
      :chart_options => {
        :height => 300,
        :width => 100 * @projects.size,
        :is_3_d => true,
        :legend => 'none',
        :colors => "[{color:'#990000', darker:'#660000'}]",
        :title => "Project Quantities",
        :title_x => 'Project',
        :title_y => 'Quantities'
      }
    )
 -%>
