%h2
  =image_tag "icon_reporter.png", :class => "heading_icon"
  Data Requests
.dashboard_section

  %table.modern_table
    %thead
      %tr
        %th Name
        %th Requested By
        %th Due
        %th Submitted at
        %th Status
    %tbody
      = render :partial => 'response', :collection => @responses
