- title "Reports"

%h2 Reports
%h3=  link_to "Users In My Organization", users_in_my_organization_path
- @data_responses.each do |response|
  %h3=  link_to "Data Grouped by NSP", activities_by_nsp_url(:id => response.id, :type => :budget)
