%tr.filler2.sub-head
  %td{:colspan => 100}
    %h4
      Activities
- if activities.present?
  - activities.each do |activity|
    = render "activities/activity", :activity => activity
- else
  %tr.none
    %td{:colspan => 100}
      No activities found.
      = link_to "Add Activities now.", new_response_activity_path(response, :project_id => project.id), :class => 'js_toggle_activity_form'
