= render 'getting_started'

%a{:href => "#", :class => 'overlay', :rel => "#simple_overlay"}
  Whats this?
  = image_tag 'overlay.png'

#simple_overlay
  %h3 What's a Project?
  %p Projects are high-level health programs that your organization implements.
  %p A project is generally defined as a contractual agreement with a funding provider or oversight body to support health goals in your country.
  %br
  %h3 How do I add more detail?
  %p You can break-down your Projects into several Activities, adding more detail as you go.
  %p For example, if your Project is (sub)implemented by multiple entities, you can create one or more Activities to represent this.
  %br
  %p
    Read more on our
    = link_to "Project FAQ", "https://hrtapp.tenderapp.com/search?t=f&q=project", :target => '_blank'
