- title("Projects Bulk Create")

- content_for :sub_nav do
  = render :partial => 'shared/sub_nav_projects'

%h1.main_heading Projects Bulk Create

/ = render 'getting_started_bulk'

- @projects.each_with_index do |project, index|
  .activity_box
    = render 'projects/bulk_review', :project => project, :response => @response

%br

= link_to "Return to Projects & Activities", response_projects_path(@response), :class => 'create_new js_finish'