<p>Description for projects goes here</p>

<p>File upload link goes here</p>

<%= render :active_scaffold => 'projects',
  :constraints => { } %>

<%= render 'layouts/help_side_bar' , :locals => {:record_type => Project}%>

