- title("Projects")

%h1.main_heading Projects

= link_to "+ Create Project", new_response_project_path(@data_response)

%br

%table.standard.rounded.clickable
  %thead
    %tr
      %th Name
      %th Description
      %th Total Spent
      %th Total Budget
      %th

  %tbody
    = render :partial => "project", :collection => @projects


%ul{ :id => 'position_container', :class => 'image_list' }

