- content_for :head do
  = render 'layouts/active_scaffold_js'

- content_for :comments do
  #c-help
    %h2 Commenting tips
    %p
      The comment section below is for asking general questions about this page.
      Ask questions or make comments on the data you have entered
      using the "Comments" link at the end of each row in the grid above.
      If you think the answer to your question will help many others, use the grid below this text.
      All users can see the comments in the table below.
