- if current_user.tips_shown
  #gs_container
    #getting_started_title
      %h2= "Getting started with Settings"
      = render :partial => 'shared/tips_hide'
    .getting_started
      .message
        %p The Settings page manages information that will be used to simplify your data entry and to customize your organization.
        %ul.bulleted
          %li Set your default currency.
          %li Enter the fiscal year you prefer to report in.
          %li Add the Primary Contact of your Organization
          %li Come back anytime to change these settings.
