#gs_container
  #getting_started_title
    %h2= "Getting started with Responses"
  .getting_started
    .message
      %p The Settings page for your Response manages information that will be used to simplify your data entry and to customize the process for your organization.

      %ul.bulleted
        %li Select the Request you are responding to.
        %li Set your default currency.
        %li Enter the fiscal year you prefer to report in.
        %li Add the Primary Contact of your Organization
        %li Start adding Projects to your Response
        %li Come back anytime to change these settings.