%h3{:class => (project_amounts_entered)}
  Project Amounts
  - unless @response.projects_entered?
    %span.info
      = render 'projects/no_projects_yet'
  - else
    - unless @response.project_amounts_entered?
      %span.info Please enter Past Expenditures / Current Budgets for your projects.

%ul.push
  - @response.projects_without_amounts.each do |p|
    %li= link_to friendly_name(p), edit_response_project_path(@response, p)
