%h3{:class => (project_amounts_entered)}
  Project Amounts
  - unless project_amounts_entered
    - if projects_entered
      %span.info Please enter Expenditures/Budgets for your projects.
    - else
      %span.info
        = render 'projects/no_projects_yet'

%ul.push
  - @response.projects_without_amounts.each do |p|
    %li= link_to friendly_name(p), edit_response_project_path(@response, p)
