- title("Settings")

%h1.main_heading Settings

= render 'getting_started'

= error_messages_for :response,  :header_message  => nil, :message => "Oops, we couldn't save your changes."

- semantic_form_for @response, :url => response_path(@response) do |f|
  = render 'form', :f => f
