- title("Edit Data Response")

- content_for :sub_nav do
  = render :partial => 'layouts/sub_nav'

%h1 Edit Response

%p Common settings that will make your data entry easier.

= error_messages_for :data_response,  :header_message  => nil, :message => "Oops, we couldn't save your changes."

- semantic_form_for @data_response, :url => responses_path do |f|
  = render 'form', :f => f

= render 'comments'
