= render 'other_costs/getting_started'

%a{:href => "#", :class => 'overlay', :rel => "#ocost_help_overlay"}
  = image_tag 'overlay.png'
  Whats this?


#ocost_help_overlay.simple_overlay
  %h3 What's an Other Cost?
  %p Other Costs are designed to help you identify where your organization classifies activities other than those that fit into activities that you’ve categorized. E.g. expenses for managing projects at a national level.
  %br
  %p Other Costs without a Project, a.k.a General Management Costs (GMC's), are administrative costs associated with the project but that are not activity-specific. For example, this could include site office costs, financial management of the project etc.
  %br
  %p
    Read more on our
    = link_to "Other Costs FAQ", "https://hrtapp.tenderapp.com/search?t=f&q=other", :target => '_blank'
