%tr
  %td{:colspan => 2}
    = link_to other_cost.description.presence || '(no description)', edit_response_other_cost_path(@response, other_cost), :title => other_cost.description, :class => 'tooltip'
    //= link_to "edit", edit_response_activity_path(@response, other_cost), :class => 'edit_button inline'
  %td= n2cndrs(other_cost.spend, other_cost.currency)
  %td= n2cndrs(other_cost.budget, other_cost.currency)
  %td
    - unless other_cost.am_approved?
      %span.warm-red.hint Not yet approved
