- title("Edit Other Cost")

- if ['locations', 'purposes', 'inputs'].include? params[:mode]
  - content_for :classification do
    #classification.section_form.wrapped.last
      #activity_classification
        %div.tab1{:style => 'display: block'}
          = render '/classifications/tab', :activity => @other_cost

= render 'activities/edit', :activity => @other_cost