#main-nav
  .wrapper
    %ul
      %li.home_tab{:class =>  (controller.class == Reporter::DashboardController ? 'active' : nil)}
        %a{:href => user_dashboard_path(current_user)}
          %span Home

      %li{:class => ([ProjectsController, ActivitiesController, OtherCostsController, CodeAssignmentsController, ResponsesController].include?(controller.class) ? "active" : nil)}
        = link_to 'Projects', response_projects_path(@response || current_user.current_response)

      %li{:class => ([Reporter::ReportsController, Reports::DistrictsController, Reports::Districts::ActivitiesController, Reports::Districts::OrganizationsController, Reports::CountriesController, Reports::Countries::OrganizationsController, Reports::Countries::ActivitiesController].include?(controller.class) ? 'active' : nil)}
        = link_to 'Reports', reporter_reports_path

      %li{:class => (controller.class == OrganizationsController && ['new', 'edit', 'create', 'update'].include?(controller.action_name) ? "active" : nil)}
        = link_to 'Settings', edit_organization_url(:current)
