#main-nav
  .wrapper
    %ul
      %li.home_tab{:class =>  (controller.class == Reporter::DashboardController ? 'active' : nil)}
        %a{:href => user_dashboard_path(current_user)}
          %span Home
      %li{:class => ([ProjectsController, ActivitiesController, OtherCostsController, CodeAssignmentsController, ClassificationsController, WorkplansController].include?(controller.class) ? "active" : nil)}
        = link_to 'Projects', current_projects_url
      %li{:class => (controller.class == ResponsesController && ["show", "review", "submit"].include?(controller.action_name) ? "active" : '')}
        = link_to 'Responses', current_response_url
      %li{:class => ([Reporter::ReportsController, Reports::DistrictsController, Reports::Districts::ActivitiesController, Reports::Districts::OrganizationsController, Reports::CountriesController, Reports::Countries::OrganizationsController, Reports::Countries::ActivitiesController].include?(controller.class) ? 'active' : nil)}
        = link_to 'Reports', reporter_reports_path
      %li{:class => ([ResponsesController, ProfilesController].include?(controller.class) && ['new', 'edit', 'create', 'update'].include?(controller.action_name) ? "active" : nil)}
        = link_to 'Settings', current_edit_response_url
