.section_overlap
  %ul.section_nav
    - ["Reporting", "Not Yet Started", "Started", "Submitted", "Rejected", "Accepted", "Non-Reporting"].each do |filter|
      - css_class = "active" if params[:filter] == filter || (filter == 'All' && params[:filter].blank?)
      %li= link_to filter, {:sort => params[:sort], :direction => params[:direction], :query => params[:query], :filter => filter}, {:class => css_class}