%h1.main_heading Edit data request

= error_messages_for :organization, :header_message  => nil, :message => "Oops, we couldn't save your changes."

%h2 Enter organization information
.dashboard_section
  - semantic_form_for :organization, @organization, :url => admin_organization_path(@organization), :html => {:method => :put, :class => 'basic_form'} do |f|
    = render 'form', :f => f
