// need both the id and class selectors called add_purpose_form
%tr{:class => "hidden add_purpose_form"}
  %td{:colspan => 100}
    %ul.horizontal
      -# this input gets replaced by mcdropdown
      %li.mcdropdown_wrap
        %input{:type => 'text', :class => "purpose_search"}
      %li
        = link_to "Add #{coding_name}", "#", :class => 'js_add_entry create_button', :tabindex => 0
        = link_to "Cancel", "#", :class => "cancel_add_purpose row_cancel", :tabindex => 0
