- if @budget_coding_tree.root_codes.present?
  %p#expl
    %span.spend
      - link_to '#', :id => 'js_spend_to_budget' do
        Expenditure %
        = image_tag "icon_s2b.png", :alt => "Copy Past Expenditure to Current Budget", :title => "Copy Past Expenditure to Current Budget"
    %span.budget
      - link_to '#', :id => 'js_budget_to_spend' do
        = image_tag "icon_b2s.png", :alt => "Copy Current Budget to Past Expenditure", :title => "Copy Current Budget to Past Expenditure"
        Current Budget %

  %ul.activity_tree{:activity_budget => @activity.budget, :activity_spend => @activity.spend}
    - @budget_coding_tree.root_codes.each do |code|
      = render 'classifications/code_row', :code => code, :margin => 0