%li{:rel => "#{code.id}"}
  = code.short_display
  // TODO: change coding_tree all_codes method to filter
  // codes to appropriated level and remove all logic from here
  - if !code.leaf? && (!delegated || (delegated && level < CodeAssignment::DELEGATED_CLASSIFICATION_LEVEL))
    %ul
      - coding_tree.cached_children(code).sort_by(&:short_display).each do |child|
        = render 'code_row', :code => child, :coding_tree => coding_tree, :delegated => delegated, :level => level + 1
