%li{:rel => "#{code.id}"}
  = code.short_display
  - if !code.leaf?
    %ul
      - coding_tree.cached_children(code).sort_by(&:short_display).each do |child|
        = render 'code_row', :code => child, :coding_tree => coding_tree
