%tr
  %td.name.wrap-50
    %ul
      %li
        - link_to "#", :class => "add_purpose create_inline" do
          = image_tag"new.png"
          Add Purpose
      
  %td.total
    %ul
      %li
        Total
        - total = cached_amount_total(code_assignments)
        %span= total
      %li
        Remaining
        %span= (activity.send(get_coding_type(params[:id])) || 0) - total
  %td.actions
    - if code_assignments.present?
      = submit_tag "Save"