- title "Budgets"

- record_type = Activity

= render :super

%p= link_to "Next Step", response_other_costs_path(@data_response), :class => "next right"

= render 'shared/data_entry_help', :record_type => record_type
