- title("New Formatted Report")

%h1.main_heading New Formatted Report

= error_messages_for :report,  :header_message  => nil, :message => "Oops, we couldn't save your changes."

- semantic_form_for @report, :url => admin_reports_path, :html => {:method => :post, :multipart => true} do |f|
  - f.inputs do
    = f.input :key, :as => :select, :collection => Report::REPORTS, :include_blank => false
    = f.input :formatted_zip, :as => :file
  - f.buttons do
    = f.commit_button "Create Report"