%ul.breadcrumb
  %li= link_to "Districts", admin_districts_path

%h1.main_heading= h @location.name

.full
  .first-half
    %h2 MTEF Spent
    #mtef_spent_pie.bordered

  .second-half
    %h2 MTEF Budgeted
    #mtef_budget_pie.bordered

%h2 Organizations
%p= link_to "Organizations", "#"

%h2 Activities
%p= link_to "Activities", admin_district_activities_path(@location)