%h1.main_heading Edit data request

= error_messages_for :request, :header_message  => nil, :message => "Oops, we couldn't save your changes."

%h2 Enter data request information
.dashboard_section
  - form_for :request, @request, :url => admin_request_path(@request), :html => {:method => :put} do |f|
    = render 'form', :f => f
