.full
  .first-half
    %h2 Top Organizations by Expenditure
    = render 'reports/countries/organizations/table_mini', :top_organizations => @top_organizations
    %p= link_to "View all Organizations", reports_country_organizations_path, :class => "right"

  .second-half
    %h2 Top Activities by Expenditure
    = render 'reports/countries/activities/table_mini', :top_activities => @top_activities
    %p= link_to "View all Activities", reports_country_activities_path, :class => "right"

