.form_aside.section_form.single
  %h3 What currency should I use?
  %p Use the primary currency of all your projects and activities. If a specific project uses a different currency, you can override the currency in the project settings.
  %br
  %h3 How do I enter my fiscal year?
  %p
    If you follow GoR fiscal year, you will be reporting:
    %ul
      %li Expenditure: July 2010 – June 2011
      %li Budget: July 2011 – June 2012
  %p
    If you follow USG fiscal year, you will be reporting:
    %ul
      %li Expenditure: October 2010 – September 2011
      %li Budget: October 2011 – September 2012
  %p
    If your fiscal year follows the calendar year, you will be reporting:
    %ul
      %li Expenditure: January 2010 – December 2010
      %li Budget: January 2011 – December 2011
  %p
    If your fiscal year runs from April to March, you will be reporting
    %ul
      %li Expenditure: April 2010 – March 2011
      %li Budget: April 2011 – March 2012
  %p
    If your fiscal year does not fit any of the above, please
    = link_to "raise a support request", help_link, :target => "_blank"