%tr
  %td= link_to activity.title, edit_response_activity_path(@response, activity)
  %td.wrap-10
    - link_to edit_response_activity_path(@response, activity), :class => 'add_row right' do
      = image_tag "pencil_10.png"
      edit
