%tr
  %td{:colspan => 2}
    = link_to activity.name.presence || 'Unnamed Activity', edit_response_activity_path(@response, activity), :title => activity.description, :class => 'tooltip'
  %td= n2cndrs(activity.spend, activity.currency)
  %td= n2cndrs(activity.budget, activity.currency)
  %td
    - unless activity.am_approved?
      %span.warm-red.hint Not yet approved
