%tr
  %td{:colspan => 2}
    = link_to activity.description.presence || '(no description)', edit_response_activity_path(@response, activity)
  %td= n2cndrs(activity.spend, activity.currency)
  %td= n2cndrs(activity.budget, activity.currency)
  %td
    - if activity.approved?
      Approved
    - else
      %span.red Not Approved
    