%ul.breadcrumb
  - unless activity.new_record?
    %li= link_to nice_name(activity.project), edit_response_project_path(response, activity.project)
  %li= Activities
  - unless activity.new_record?
    %li.last= link_to nice_name(activity), correct_activity_path(activity)
  - else
    %li.last New
