.fields
  = f.input :funding_flow_id, :required => false, :label => 'Organization', :collection => @activity.project ? funding_sources_options(@activity.project.in_flows) : [], :input_html => {:class => 'funding_source'}, :hint => "If empty, please select a project first, and/or check the selected project has funding sources."
  = f.input :spend, :label => "Spent", :hint => "The total amount, from this source, that you have spent in the past fiscal year, on this activity.", :required => false
  = f.input :budget, :label => "Budget", :hint => "The total amount that you are planning to spend in the upcoming fiscal year, from this funding source.", :required => false

  = link_to_remove_fields "remove", f

:javascript
  update_funding_source_selects();
