.fields
  %ul.dashboard_section.marginless
    %li
      %ul.horizontal
        = f.input :description, :label => "Target", :required => false, :input_html => {:class => 'js_target_field'}, :wrapper_html => {:class => 'wrap-80'}

        %li.right
          = link_to_remove_fields "remove", f
