- semantic_fields_for activity do |f|
  - f.inputs do
    = f.input :locations, :as => :check_boxes, :label => "Districts worked in", :hint => "all the districts in which this Activity was implemented", :collection => project.locations
