- if project.locations.present?
  - semantic_fields_for activity, :namespace => form_namespace(project) do |f|
    - f.inputs do
      = f.input :location_ids, :as => :check_boxes, :label => "Locations worked in", :hint => "all the places where this Activity was implemented", :collection => project.locations, :required => false
- else
  = render 'activities/project_sub_form_hint', :hint => "This project has no locations yet. #{link_to("Edit project", edit_response_project_path(@response, project))}"
