%div
  %fieldset{:class => "inputs"}
    %ol
      %li{:class => "check_boxes"}
        %fieldset
          %legend{:class => "label"}
            %label Locations worked in
          %p{:class => "hint"}= hint
