
%ul.inline_tab
  - if activity.new_record?
    - link = new_response_activity_path(@data_response)
    - link = new_response_other_cost_path(@data_response) if activity.class == OtherCost
    %li= link_to "1. Details", link
    %li 2. Spend
    %li 3. Budget
  - else
    %li{:class => (params[:controller] == 'activities' || params[:controller] == 'other_costs' ? 'selected' : nil)}= link_to "1. Details", edit_response_activity_path(activity.data_response, activity)

    %li{:class => (params[:coding_type].present? && get_coding_type(params[:coding_type]) == :spend ? 'selected' : nil)}= link_to "2. Spend", activity_code_assignments_path(activity, :coding_type => 'CodingSpend')

    %li{:class => (params[:coding_type].present? && get_coding_type(params[:coding_type]) == :budget ? 'selected' : nil)}= link_to "3. Budget", activity_code_assignments_path(activity, :coding_type => 'CodingBudget')