%ul.horizontal.right.plain
  %li
    -if !activity.new_record? && params[:controller] != 'code_assignments'
      - link_to "#comments" do
        %span
          View Comments
  - if current_user.sysadmin?
    = render 'activities/approve_as_admin', :activity => activity

  - if current_user.activity_manager?
    = render 'activities/approve_budget', :activity => activity

%ul.ordered_nav
  - if activity.new_record?
    %li{:class => (params[:controller] == 'activities' || params[:controller] == 'other_costs' ? 'selected' : nil)}
      .dummy
        %span 1
        Details
    %li
      .dummy
        %span 2
        Purposes
    %li
      .dummy
        %span 3
        Inputs
  - else
    - link = activity.class == OtherCost ? edit_response_other_cost_path(activity.data_response, activity) : edit_response_activity_path(activity.data_response, activity)
    %li{:class => (params[:controller] == 'activities' || params[:controller] == 'other_costs' ? 'selected' : nil)}
      - link_to link do
        %span 1
        Details

    %li{:class => params[:id] == 'purposes' ? 'selected' : nil}
      - link_to edit_activity_classification_path(activity, 'purposes') do
        %span 2
        Purposes

    %li{:class => params[:id] == 'inputs' ? 'selected' : nil}
      - link_to edit_activity_classification_path(activity, 'inputs') do
        %span 3
        Inputs
