%ul.horizontal.right.plain
  %li
  -if !activity.new_record? && params[:controller] != 'code_assignments'
    - link_to "#comments" do
      %span
        View Comments
  - if current_user.sysadmin? || current_user.activity_manager?
    %li
      - if activity.approved
        - link_to "#" do
          %span
            Approved by Admin
      - else
        - link_to "#", :class => "js_sysadmin_approve", :"response-id" => @response.id, :"activity-id" => activity.id do
          %span
            Approve (Admin)
            = image_tag "ajax-loader.gif", :class => "ajax-loader", :style => "display: none;"

  - if current_user.sysadmin? || current_user.activity_manager?
    %li
      - if activity.am_approved
        - link_to "#" do
          %span
            Budget Approved
      - else
        - link_to "#", :class => "js_am_approve", :"response-id" => @response.id, :"activity-id" => activity.id do
          %span
            Approve Budget
            = image_tag "ajax-loader.gif", :class => "ajax-loader", :style => "display: none;"


%ul.ordered_nav
  - if activity.new_record?
    - link = activity.class == OtherCost ? new_response_other_cost_path(@response) : new_response_activity_path(@response)
    %li{:class => (params[:controller] == 'activities' || params[:controller] == 'other_costs' ? 'selected' : nil)}
      - link_to link do
        %span 1.
        Details
    %li
      .dummy
        %span 2.
        Expenditure
    %li
      .dummy
        %span 3.
        Current Budget
  - else
    - link = activity.class == OtherCost ? edit_response_other_cost_path(activity.data_response, activity) : edit_response_activity_path(activity.data_response, activity)
    %li{:class => (params[:controller] == 'activities' || params[:controller] == 'other_costs' ? 'selected' : nil)}
      - link_to link do
        %span 1
        Details

    - if @response.data_request.spend?
      %li{:class => (@coding_type.present? && get_coding_type(@coding_type) == :spend ? 'selected' : nil)}
        - link_to activity_code_assignments_path(activity, :coding_type => 'CodingSpend') do
          %span 2
          Past Expenditure

    - if @response.data_request.budget?
      %li{:class => (@coding_type.present? && get_coding_type(@coding_type) == :budget ? 'selected' : nil)}
        - link_to activity_code_assignments_path(activity, :coding_type => 'CodingBudget') do
          %span 3
          Current Budget

