- title("Activities Bulk Create")

- content_for :sub_nav do
  = render :partial => 'shared/sub_nav_projects'

%h1.main_heading Activities Bulk Create

= render 'getting_started_bulk'

- @activities.each_with_index do |activity, index|
  .activity_box
    = render 'shared/outlays/bulk_edit', :outlay => activity, :response => @response

%br

= link_to "Finish and Continue", response_projects_path(@response), :class => 'next big right', :confirm => "Please check that all activities are saved. Saved activites show a green checkmark next to them.  Are you sure you want to leave this page?"
