- title("Edit Activity")

- content_for :sub_nav do
  = render :partial => 'layouts/sub_nav'

%h1.main_heading Edit Activity

= error_messages_for :activity,  :header_message  => nil, :message => "Oops, we couldn't save your changes."

- semantic_form_for @activity, :url => response_activity_path(@data_response, @activity), :html => {:class => "basic_form"} do |f|
  = render 'form', :f => f

-#= render 'comments'
