- title("Edit Activity")

- if ['locations', 'purposes', 'inputs'].include? params[:mode]
  - content_for :classification do
    #classification.section_form.wrapped.last
      #activity_classification
        %div.tab1{:style => 'display: block'}
          = render 'classification', :outlay => @activity

= render 'shared/outlays/edit', :outlay => @activity
