<p>Description for activities goes here</p>

<p>File upload link goes here</p>

<%= render :active_scaffold => 'activities',
  :constraints => { } %>
  
<%= render :partial => 'layouts/help_side_bar' , :locals => {:record_type => Activity}%>
