%table.standard.clickable
  %thead
    %tr
      %th Organization
      %th Total Spent

  %tbody
    - top_organizations.each do |organization|
      %tr{:class => cycle("even", "odd")}
        %td= link_to organization.name, reports_district_organization_path(@location, organization)
        %td
          - spent_total = organization.spent_sum
          %ul
            %li= n2c(spent_total * usd_to_rwf, 'RWF')
            %li= "(#{n2c(spent_total, '$')})"
