%table.standard
  %thead
    %tr
      %th Organization
      %th Total Spent
      %th Total Budget

  %tbody
    - organizations.each do |organization|
      %tr{:class => cycle("even", "odd")}
        %td= link_to organization.name, reports_district_organization_path(location, organization)
        %td= n2c(organization.spent_sum.to_i, 'RWF')
        %td= n2c(organization.budget_sum.to_i, 'RWF')
