<p>Description for line items goes here</p>

<p>File upload link goes here</p>

<%= render :active_scaffold => 'line_items',
  :constraints => { } %>
  
<%= render 'layouts/help_side_bar' , :locals => {:record_type => LineItem}%>
