- semantic_form_for @user_session, :url => user_session_path do |f|
  - f.inputs do
    = f.input :username, :label => "Username or Email"
    = f.input :password
    = f.input :remember_me, :as => :boolean, :required => false

  - f.buttons do
    = f.commit_button :label => "Sign in"
