.tabs_nav.two-thirds

  %ul.inline_tab
    %li MTEF:
    %li{:id => 'tab1', :class => 'selected'}
      = link_to "Budget", "#"
    %li{:id => 'tab2'}
      = link_to "Spend", "#"
    %li NSP:
    %li{:id => 'tab3'}
      = link_to "Budget", "#"
    %li{:id => 'tab4'}
      = link_to "Spend", "#"
    /%li HSSPII Budget:
    /%li{:id => 'tab5'}
    /  = link_to "Program", "#"
    /%li{:id => 'tab6'}
    /  = link_to "Objective", "#"
    /%li HSSPII Spend:
    /%li{:id => 'tab7'}
    /  = link_to "Program", "#"
    /%li{:id => 'tab8'}
    /  = link_to "Objective", "#"
