%ul.compact_tab
  %li.selected{:class => "#{chart_type}_pie"}= link_to "Pie", "#"
  %li{:class => "#{chart_type}_tree"}= link_to "Tree Map", "#"

.pie
  .chart{:id => get_chart_id_pie(data_response, chart_type)}
.tree
  .chart{:id =>  get_chart_id_tree(data_response, chart_type), :style => "width:600px; height:400px;"}
