- if assignments.has_key?(code.id)
  %li
    = code.short_display
    = number_to_currency(assignments[code.id].calculated_amount, :unit => activity.currency.to_s + ' ', :separator => ".", :delimiter => ",")
    - unless code.leaf?
      %ul
        - code.children.each do |child|
          = render 'shared/data_responses/code_row', :code => child, :activity => activity, :assignments => assignments
