%ul.inline_tab
  %li.selected{:class => "#{chart_type}_pie"}= link_to link_name, "#"
  %li{:class => "#{chart_type}_tree"}= link_to "Tree Map", "#", :class => 'treemap_tooltip', :title => 'To look inside the classifications use the left click. To go back use the right click. If you left click and nothing happens, there are no more details for that code.'
