- if assignments.has_key?(code.id)
  %li
    = code.short_display
    = n2c(assignments[code.id].cached_amount, activity.currency)
    - unless code.leaf?
      %ul
        - code.children.each do |child|
          = render 'shared/data_responses/code_row', :code => child, :activity => activity, :assignments => assignments
