.comment_indicator_wrap
  .commentable
    .name
      //= commentable.name
      COMMENTS

  .comments_bubble
  - commentable.comments.each do |comment|
    .comment_entry
      .comment= comment.comment
      .author== sent by #{comment.user.try(:name)}
