/ js event: .resources, .comments
.comments
  %div{:class => "resources simple_table", :"data-resources" => "comments", :style => "clear: both"}
    %table.dashboard_comments
      %thead.static
        %tr
          %th
            = "Comments (<span class='count'>#{commentable.comments.size}</span>)"
          %th Author
          %th.manage Manage
      %tbody
        = render :partial => 'comments/row', :collection => commentable.comments, :as => :comment
    .placer
    %ul.actions
      / js event: .new_btn, .enabled
      %li= link_to "+ Add Comment", new_comment_path(:commentable_type => commentable.class.name, :commentable_id => commentable.id), :class => "new_btn enabled"
