%table.third.summary
  %tbody
    %tr
      %td Point of Contact
      %td= @response.contact_name.blank? ? 'n/a' : @response.contact_name
    %tr
      %td Phone
      %td= @response.contact_phone_number
    %tr
      %td Office Phone
      %td= @response.contact_main_office_phone_number
