- javascript "/ampie/swfobject.js"

= render 'shared/data_responses/javascript', :projects => @projects, :data_response => @response

= render 'shared/data_responses/data_responses_charts', :data_response => @response
