- title 'Reports'

%h1.main_heading
  Reports

= render 'shared/summary_charts'

.first-half
  %h2
    =image_tag "icon_lightning.png", :class => "heading_icon"
    Districts
  .dashboard_section
    %ul.admin_reports
      %li
        - link_to reports_districts_path, :class => "drill_down target" do
          Review District Expenditures and Current Budgets
          %span.hint Interactive reports
      %li

  %h2
    =image_tag "icon_lightning.png", :class => "heading_icon"
    National
  .dashboard_section
    %ul.admin_reports
      %li
        - link_to reports_country_path, :class => "drill_down target" do
          Review National Expenditures and Current Budgets
          %span.hint Interactive reports
      %li

  %h2
    =image_tag "icon_reporter.png", :class => "heading_icon"
    Organizations
  .dashboard_section
    %ul
      %li= link_to "All Organizations", export_organizations_path, :class => "target"
      %li= link_to "Donor and NGO Organizations", export_organizations_path(:type => 'NGO'), :class => "target"
      %li= link_to "District Hospitals and Health Centers", export_organizations_path(:type => 'centers'), :class => "target"

.second-half
  %h2
    =image_tag "icon_reporter.png", :class => "heading_icon"
    Codes
  .dashboard_section
    %ul
      %li
        - link_to response_report_path(@response, 'purposes'), :class => "target" do
          Purposes
          %span.hint from current budget and expenditure classifications screen
      %li
        - link_to response_report_path(@response, 'inputs'), :class => "target" do
          Inputs
          %span.hint from current budget and expenditure classifications screen
      %li
        - link_to response_report_path(@response, 'locations'), :class => "target" do
          Locations
          %span.hint from current budget and expenditure classifications screen
