%tr.project_row
  %td.name{:rowspan => project.activities.length + 2}= project.name
- project.activities.ordered_by_id.each do |activity|
  = render 'activity_row', :activity => activity, :type => params[:id]
%tr.filler2.activity_total{:"data-project_id" => project.id}
  %td{:colspan => 5}
    - link_to new_response_activity_path(@response, :project_id => project.id), :class => 'add_activity add_row' do
      = image_tag "new.png"
      Add activity
  %td.total Subtotal
  %td.total_amount= n2cndrs(project.total_by_type(params[:id]), project.currency)
