- content_for :sub_nav do
  = render 'shared/sub_nav_projects'

%h1.main_heading Long Term Budgets

%table.standard
  %thead
    %tr.head
      %th Programme Area
      %th FY '12-'13
      %th FY '13-'14
      %th FY '15-'16
      %th FY '17-'18
  %tbody
    %tr
      %td Child Health
      %td
        %input{:type => "text", :value => "1,000,000"}
      %td
        %input{:type => "text", :value => ""}
      %td
        %input{:type => "text", :value => ""}
      %td
        %input{:type => "text", :value => ""}
        
    %tr
      %td Community Services
      %td
        %input{:type => "text", :value => "1,000,000"}
      %td
        %input{:type => "text", :value => ""}
      %td
        %input{:type => "text", :value => ""}
      %td
        %input{:type => "text", :value => ""}
        
    %tr
      %td Emergency Response
      %td
        %input{:type => "text", :value => "1,000,000"}
      %td
        %input{:type => "text", :value => ""}
      %td
        %input{:type => "text", :value => ""}
      %td
        %input{:type => "text", :value => ""}
        
    %tr
      %td Environmental Health & Sanitation
      %td
        %input{:type => "text", :value => "1,000,000"}
      %td
        %input{:type => "text", :value => ""}
      %td
        %input{:type => "text", :value => ""}
      %td
        %input{:type => "text", :value => ""}
        
    %tr
      %td HIV/Aids
      %td
        %input{:type => "text", :value => "1,000,000"}
      %td
        %input{:type => "text", :value => ""}
      %td
        %input{:type => "text", :value => ""}
      %td
        %input{:type => "text", :value => ""}
        
    %tr
      %td Maleria
      %td
        %input{:type => "text", :value => "1,000,000"}
      %td
        %input{:type => "text", :value => ""}
      %td
        %input{:type => "text", :value => ""}
      %td
        %input{:type => "text", :value => ""}
        
    %tr
      %td Nutrition
      %td
        %input{:type => "text", :value => "1,000,000"}
      %td
        %input{:type => "text", :value => ""}
      %td
        %input{:type => "text", :value => ""}
      %td
        %input{:type => "text", :value => ""}
        
%br
= link_to 'Save', '#', :class => 'create_button'