- unless flash.empty?
  #flashes
    #flash_holder
      - flash.each do |key, value|
        %div{:id => key.to_s}
          = h value
          %span.notify-close= link_to_function 'x', '#', :title => 'dismiss this notification', :id => 'closeFlash'
