- unless flash.empty?
  #flashes
    #flash_holder
      - flash.each do |key, value|
        %div{:id => key.to_s}
          = h value.html_safe
          %span.notify-close= link_to 'x', '#', :title => 'dismiss this notification', :id => 'closeFlash', :class => 'closeFlash'
        %br
