- landing_page = false unless landing_page
#header
  .wrapper
    %h1
      - country = ENV['HRT_COUNTRY'] || 'rwanda'
      %a{ :id => "logo", :href => '/'}
        = image_tag "#{country}-coat-of-arms-med.png"
        = country.titleize

    = render :partial => '/layouts/login_nav'
