#header
  .wrapper
    #logo
      = image_tag('rwanda-coat-of-arms-app.png')
      %h1
        UBU
        %span ZIMA
      //%p Mu Rwanda

    = render :partial => '/layouts/login_nav'

    %h2#headline
      Health Resource Tracker
      %span Improving lives through better health policy
    %h2#kids
      Help the kids get healthy
    %h2#screens
      Our application