#header
  .wrapper
    #logo
      = image_tag('coat-of-arms.png')
      %h1
        UBU
        %span ZIMA
      %p Mu Rwanda

    = render :partial => '/layouts/login_nav'

    #tagline
      %h2 Health Resource Tracker
      %h6 Improving lives through better health policy