-content_for :header do
  = render :partial => '/layouts/header_for_visitors'

  /#home
  / = render :partial => '/layouts/header_for_visitors'

-content_for :main do
  #home
    #main
      .about
        .slider
          #s3slider
            %ul#s3sliderContent
              %li.s3sliderImage
                %img{ :src => "images/test_slider/1.png" }
              %li.s3sliderImage
                %img{ :src => "images/test_slider/2.jpg" }
              %div.clear.s3sliderImage
        .text
          %h3 Better Information.
          %h3 Better Decisions.
          %p This database helps us know where money and other resources are going to improve health in Rwanda, so that everyone knows what resources are tackling what problems. Because it's only together, seeing a full picture, that we can make the best decisions, with helpful input from many parties, especially the Government of Rwanda.
          %p This database was created by Health System 20/20, a global project funded by USAID.

      /.sign_in_form
      /%h3 Sign In
      /= render :partial => '/shared/login_form'

