#admin
  - if current_user
    .welcome
      %span
        /= "Welcome #{current_user.username}"
    .links
      %ul
        %li= user_dashboard_link
        / %li= link_to "Change Password", user_url(current_user)
        %li= link_to "Sign out", logout_path
  - else
    %span.sign_in
      Have an account?
      = link_to "Sign in", login_path
