#admin

  - if current_user
    %ul
      %li= link_to "My Profile", edit_user_url(current_user.id)
      %li= link_to "Sign out [#{current_user.email}]", logout_path
      
  - else
    %ul
      %li= link_to "Have an account? Sign in!", login_path