#main-nav
  .wrapper
    - reports_active = dashboard_active = false
    - if [Reporter::DashboardController].include? controller.class
      - dashboard_active = true
    - elsif [Reporter::ReportsController,
             Reports::DistrictsController,
             Reports::Districts::ActivitiesController,
             Reports::Districts::OrganizationsController].include? controller.class
      - reports_active   = true

    -# will break if more tabs are added!
    - workplan_active = !dashboard_active && !reports_active

    %ul
      %li= link_to "Dashboard", user_dashboard_path(current_user), :class =>  ('active' if dashboard_active)
      %li
        -# this might break if no response selected
        - path = ''
        - if current_user && current_user.current_data_response
          - path = edit_response_path(current_user.current_data_response)
        = link_to 'My Data', path, :class =>  ('active' if workplan_active)
      %li= link_to 'Reports', reporter_reports_path, :class => ('active' if reports_active)
      %li= link_to "Help", "http://hrtapp.tenderapp.com/kb", :target => "_blank"