-# default layout is the Promotional site (static pages)
-# an inner page with a compact header
- content_for :body do
  %body.promo.login
    = render "layouts/header"

    #content
      .wrapper
        = yield

    = render 'layouts/footer'

= render 'layouts/app'
