!!! Strict
%html{:lang => "en", "xml:lang" => "en", :xmlns => "http://www.w3.org/1999/xhtml"}
  = render 'layouts/head'

  %body.promo.landing
    = render 'layouts/header', :landing_page => true

    #content
      .wrapper
        = yield

    = render 'layouts/footer'
